<div class="row p-2">


<div class="col-12">
  <div class="row top-buffer">
    <div class="col-10">
      <h1 class="card-title"> {{ 'Asset.RoleCategories' | translate }} </h1>
    </div>
    <div class="col-2">

      <a class="addbutton" (click)="addRoleCategory()">
        <i class="pi pi-plus-circle"></i> {{ 'Asset.Create' | translate }}</a>

    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 ">
      <p-table #table [dir]="dir" [value]="lstRoleCategories" styleClass="p-datatable-striped  p-datatable-sm p-datatable-gridlines"
        responsiveLayout="scroll" [paginator]="true" [lazy]="true" [rows]="10" [totalRecords]="count" pageLinks="10" [rowHover]="true"
        (onLazyLoad)="LoadRoleCategories($event)" [customSort]="true" (sortFunction)="LoadRoleCategories($event)" >
        <ng-template pTemplate="header">
          <tr>
              <th style="text-align: center;" pSortableColumn="id">{{'Asset.Id' | translate }}
                <p-sortIcon id="{{ 'Asset.Id' | translate}}" field="id"/>
            </th>
            <th style="text-align: center;" pSortableColumn="name">{{'Asset.Name' | translate }}
              <p-sortIcon id="{{ 'Asset.name' | translate}}" field="name"/>
          </th>
          <th style="text-align: center;" pSortableColumn="orderId">{{'Asset.OrderId' | translate }}
            <p-sortIcon id="{{ 'Asset.OrderId' | translate}}" field="orderId"/>
        </th>
            <th style="text-align: center;">{{ 'Asset.Actions' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr>
            <td style="text-align: center;">{{ item.id }}</td>
            <td style="text-align: center;">{{lang == "en" ?item.name:item.nameAr}}</td>
            <td style="text-align: center;">{{item.orderId}}</td>
            <td style="text-align: center;">
              <span class="viewIcon" (click)="viewRoleCategory(item.id)"> <i class="pi pi-eye"style="color: green" pTooltip="{{'Asset.showDetails' | translate}}"></i></span>
              <span class="editIcon" (click)="editRoleCategory(item.id,rowIndex)" [routerLinkActive]="['active']"><i class="pi pi-pen-to-square" style="color: purple" pTooltip="{{'Asset.Edit' | translate}}"></i></span>
              <span class="deleteIcon" (click)="deleteRoleCategory(item,rowIndex)"><i class="pi pi-trash" style="color: red" pTooltip="{{'Asset.Delete' | translate}}"></i></span>       
                 </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
</div>



<p-confirmDialog></p-confirmDialog>
<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{ width: '350px' }">
  <p-header style="color: rgb(181, 4, 4)"> {{ 'Asset.Error' | translate }} </p-header>
  <span style="color: rgb(181, 4, 4); font-weight: bold">
      {{ errorMessage }}</span>
</p-dialog>
<p-dialog appendTo="body" modal="true" [(visible)]="displaySuccessCreate" [style]="{ width: '350px' }">
    <ng-template pTemplate="header">
      <h6 [translate]="''" style="color: #04527e; font-weight: bold; font-size: 16pt">
        {{ "Asset.Save" | translate }}
      </h6>
    </ng-template>
    <span style="color: green; font-weight: bold; font-size: 12pt; text-align: center">
      {{ "Asset.SavedSuccess" | translate }}</span>
  </p-dialog>
  <p-dialog appendTo="body" modal="true" [(visible)]="displaySuccessDelete" [style]="{ width: '350px' }">
    <ng-template pTemplate="header">
      <h6 [translate]="''" style="color: #04527e; font-weight: bold; font-size: 16pt">
        {{ "Asset.Delete" | translate }}
      </h6>
    </ng-template>
    <span style="color: green; font-weight: bold; font-size: 12pt; text-align: center">
      {{ "Asset.DeletedSuccess" | translate }}</span>
  </p-dialog>