<div [dir]="'dir' | translate" style="padding: 20px; margin: auto; max-width: 600px; text-align: center;">
   
 
    <h2 style="margin-bottom: 20px;">{{'result.deleteResults' | translate}}</h2>
    <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">
        <i class="pi pi-info-circle" style="color: #ef4444; font-size: xx-large; margin: 10px;"></i>
        <span>
            {{'result.deleteResultsMessage' | translate}}
        </span>
    </div>
    <div style="display: flex; justify-content: center; gap: 10px;">
        <p-button (click)="confirmDelete()" label="{{'buttons.confirmDelete' | translate}}" severity="danger"
            [text]="true" />
        <p-button (click)="close()" label="{{'buttons.cancel' | translate}}" severity="secondary" [text]="true" />
    </div>
</div>