
    <form (ngSubmit)="onSubmit()" #addForm="ngForm">
      <div class="row top-buffer">
        <div class="col-md-12">
          <label> {{ 'Asset.RoleCategories' | translate }}</label>
        </div>
        <div class="col-md-12">
          <mat-radio-group [(ngModel)]="selectedCategory" (change)="onRoleChange($event)" name="gcat" id="gcat"
            [ngModelOptions]="{standalone: true}">
            <mat-radio-button [value]="item.id" *ngFor="let item of lstRoleCategories">
              {{ lang == "en" ? item.name : item.nameAr }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row top-buffer" *ngIf="showRadioHospitals">
        <div class="col-md-12">
          <label> {{ 'Asset.Select' | translate }} {{ 'Asset.HospitalType' | translate }} </label>
        </div>
        <div class="col-md-12">
          <mat-radio-group [(ngModel)]="selectedHospitalType" (change)="onTypeChange($event)" name="ghtype" id="ghtype"
            [ngModelOptions]="{standalone: true}">
            <mat-radio-button [value]="item.id" *ngFor="let item of lstHospitalTypes">{{item.name}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>


      <div class="row top-buffer">
        <div class="col-12">
          <label for="code"> {{ 'Asset.Roles' | translate }}</label>

            <p-multiSelect [options]="lstRoles2" [(ngModel)]="addRoles"  [ngModelOptions]="{standalone: true}" 
            optionLabel="name" optionValue="id" autoWidth="false"     placeholder="{{ lang == 'en' ? 'Select Roles'   : 'اختر دور' }}"  [style]="{'width':'100%'}"/>
            <div class="mt-3" (click)="addRole()" style="width: 100px; height: 50px; color: #4291EF;cursor: pointer;" pTooltip="{{'Asset.CreateRole' | translate}}">
              <i class="pi pi-plus-circle"></i> <span style="margin-left: '20px'">{{ 'Asset.CreateRole' | translate }}</span></div>
        </div>
      </div>

      <div class="row top-buffer" *ngIf="showSuppliers">
        <div class="col-12">
          <label for="code"> {{ 'Asset.Suppliers' | translate }}</label>
          <select id="supplierId" name="supplierId" class="form-control" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="userObj.supplierId" [value]="0">
            <option value="0"> {{ 'Asset.Select' | translate }} {{ 'Asset.Supplier' | translate }}</option>
            <option *ngFor="let item of lstSuppliers" [value]="item.id">
              {{ lang=="en" ? item.name :item.nameAr}} </option>
          </select>
        </div>
      </div>



      <div class="row top-buffer" *ngIf="showMembers">
        <div class="col-12">
          <label for="code"> {{ 'Asset.Member' | translate }}</label>
          <select id="commetieeMemberId" name="commetieeMemberId" class="form-control"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="userObj.commetieeMemberId" [value]="0">
            <option value="0"> {{ 'Asset.Select' | translate }} {{ 'Asset.Member' | translate }}</option>
            <option *ngFor="let item of lstMembers" [value]="item.id">
              {{ lang=="en" ? item.name :item.nameAr}} </option>
          </select>
        </div>
      </div>


      <div class="row top-buffer">
        <div *ngIf="showGov" [ngClass]="selectedCategory == '3' ? 'col-12' : 'col-6'">
          <label for="governorate"> {{ 'Asset.Governorate' | translate }}</label>
           <p-dropdown  
  [options]="lstGovernorates" [(ngModel)]="userObj.governorateId"[checkmark]="true" [ngModelOptions]="{standalone: true}" [optionLabel]="lang === 'en' ? 'name' : 'nameAr'"[showClear]="true"
  optionValue="id" placeholder="{{ lang === 'en' ? 'select governorate' : 'اختر محافظة' }}" (onChange)="getCitiesByGovId(userObj.governorateId)" 
   [style]="{'width':'100%'}" [filter]="true" [filterBy]="lang === 'en' ? 'name' : 'nameAr'" [filterPlaceholder]="lang === 'en' ? 'Search...' : 'ابحث...'"/>

        </div>
        <div *ngIf="showCity" [ngClass]="selectedCategory == '3' ? 'col-0' : 'col-6'">
          <label for="districtName"> {{ 'Asset.City' | translate }}</label>
          <p-dropdown 
          [options]="lstCities" [(ngModel)]="userObj.cityId" [ngModelOptions]="{standalone: true}" [optionLabel]="lang == 'en' ? 'name' : 'nameAr' "  optionValue="id" placeholder="{{ lang === 'en' ? 'select City' : 'اختر مدينة' }}" 
          (onChange)="getHospitalsByCityId(userObj.cityId)"  [style]="{'width':'100%'}" [filter]="true" [filterBy]="lang === 'en' ? 'name' : 'nameAr'" [filterPlaceholder]="lang === 'en' ? 'Search...' : 'ابحث...'" [checkmark]="true" [showClear]="true">
        </p-dropdown>
        </div>
      </div>
      <div class="row top-buffer">
        <div *ngIf="showOrg" [ngClass]="selectedCategory == '2' ? 'col-12' : 'col-6'">
          <label for="organization"> {{ 'Asset.Organization' | translate }}</label>
          <select class="form-control" id="organization" pTooltip="select organization" tooltipPosition="bottom"
            name="organization" (change)="getSubOrgByOrgId($event)" [(ngModel)]="userObj.organizationId"
            #organizationId="ngModel" [value]="0">
            <option value="0"> {{ 'Asset.Select' | translate }} {{ 'Asset.Organization' | translate }}</option>
            <option *ngFor="let org of lstOrganizations" [value]="org.id">
              {{ lang == "en" ? org.name : org.nameAr }}
            </option>
          </select>
        </div>

        <div class="col-6" *ngIf="showSubOrg">
          <label for="organization"> {{ 'Asset.SubOrganization' | translate }}</label>
          <select class="form-control" id="subOrganizationId" pTooltip="select sub organization"
            tooltipPosition="bottom" name="subOrganizationId" [value]="0" [(ngModel)]="userObj.subOrganizationId"
            #subOrganizationId="ngModel" (change)="getHospitalsBySubOrgId($event)">
            <option value="0"> {{ 'Asset.Select' | translate }} {{ 'Asset.SubOrganization' | translate }}</option>
            <option *ngFor="let suborg of lstSubOrganizations" [value]="suborg.id">
              {{ lang == "en" ? suborg.name : suborg.nameAr }}
            </option>
          </select>

        </div>
        <div class="col-12" *ngIf="showHospitals">
          <label for="hospital"> {{ 'Asset.Hospitals' | translate }}</label>
          <p-dropdown 
          [options]="lstHospitals" [(ngModel)]="userObj.hospitalId" [ngModelOptions]="{standalone: true}" [optionLabel]="lang == 'en' ? 'name' : 'nameAr' "  optionValue="id" placeholder="{{ lang === 'en' ? 'select Hospital' : 'اختر مستشفى' }}" 
          (onChange)="getEmployeesByHospitalId(userObj.hospitalId)" [checkmark]="true" [showClear]="true"  [style]="{'width':'100%'}" [filter]="true" [filterBy]="lang === 'en' ? 'name' : 'nameAr'" [filterPlaceholder]="lang === 'en' ? 'Search...' : 'ابحث...'">
        </p-dropdown>
        </div>
      </div>
      <div class="row top-buffer">
        <div *ngIf="showEmployees" [ngClass]="selectedCategory == '5' || selectedCategory == '1'? 'col-4' : 'col-6'">
          <label class="myfont" [translate]="'Asset.Employee'"></label>
          <p-dropdown 
          [options]="lstUnregisteredUsers"  [checkmark]="true" [showClear]="true" [(ngModel)]="userObj.email" [ngModelOptions]="{standalone: true}" [optionLabel]="lang == 'en' ? 'name' : 'nameAr' "  optionValue="email" placeholder="{{ lang === 'en' ? 'select Employee' : 'اختر موظف' }}" 
          (onChange)="changeUnregiteredValue($event)"  [style]="{'width':'100%'}" [filter]="true" [filterBy]="lang === 'en' ? 'name' : 'nameAr'" [filterPlaceholder]="lang === 'en' ? 'Search...' : 'ابحث...'">
        </p-dropdown>
        </div>
        <div *ngIf="showVisits" class="col-4">
          <label class="myfont" [translate]="'Asset.Engineer'"></label>
          <select type="text" [(ngModel)]="userObj.email" (change)="changeUnregiteredEngineer($event)"
            name="unregisteredVisits" id="unregisteredVisits" class="form-control" [value]=""
            [ngModelOptions]="{standalone: true}">
            <option value="" [translate]="'Asset.Select'"></option>
            <option *ngFor="let eng of lstUnregisteredEngineers" [value]="eng.email">
              {{ lang == "en" ? eng.name : eng.nameAr }}
            </option>
          </select>
        </div>


        <div class="col-4">
          <label for="code" [translate]="'Asset.Username'"></label>
          <input type="text" class="form-control" [(ngModel)]="userObj.userName" #userName="ngModel" id="userName"
            name="userName" autofocus required
            [class.is-invalid]="(userName.touched && userName.errors)">
          <div *ngIf="userName.touched  && userName.errors?.required">
            <span class="text-danger"> {{ 'Asset.Name' | translate }} {{ 'Asset.Required' | translate }} </span>
          </div>
        </div>
        <div class="col-4">
          <label for="code" [translate]="'Asset.Password'"></label>
          <input type="password" class="form-control" [(ngModel)]="userObj.password" #passwordHash="ngModel"
            id="passwordHash" name="passwordHash" autofocus required
            [class.is-invalid]="(passwordHash.touched && passwordHash.errors) || addForm.submitted"
            [class.is-valid]="passwordHash.valid && addForm.submitted">
          <div *ngIf="(passwordHash.touched || addForm.submitted) && passwordHash.errors?.required">
            <span class="text-danger"> {{ 'Asset.Password' | translate }} {{ 'Asset.Required' | translate }} </span>
          </div>
        </div>
      </div>

      <div class="row top-buffer">
        <div class="col-4">
          <label for="code" [translate]="'Asset.EMail'"></label>
          <input type="text" class="form-control" [(ngModel)]="userObj.email" #email="ngModel" id="email" name="email"
            autofocus required [class.is-invalid]="(email.touched && email.errors) || addForm.submitted"
            [class.is-valid]="email.valid && addForm.submitted">
          <div *ngIf="(email.touched || addForm.submitted) && email.errors?.required">
            <span class="text-danger"> {{ 'Asset.EMail' | translate }} {{ 'Asset.Required' | translate }} </span>
          </div>
        </div>
        <div class="col-4">
          <label for="code" [translate]="'Asset.Mobile'"></label>
          <input type="text" class="form-control" [(ngModel)]="userObj.phoneNumber" id="phoneNumber" name="phoneNumber">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-offset-3 col-6 col-offset-3">
          <button class="btn btn-primary pull-center " value="save" type="submit" style="
            margin: 0px 5px;
            background-color: #1483c2;
            border-color: #1483c2;">
            {{ 'Asset.Save' | translate }}
          </button>


        </div>
      </div>
    </form>



<p-dialog appendTo="body" modal="true" [(visible)]="display" [style]="{width: '350px'}">
  <ng-template pTemplate="header">
    <h6 style="color: #04527e;font-weight: bold;font-size: 16pt;"> {{ 'Asset.Save' | translate }}</h6>
  </ng-template>
  <span style="color: green;font-weight: bold;font-size: 12pt;text-align: center;"> {{ 'Asset.SavedSuccess' | translate
    }}</span>
</p-dialog>


<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{ width: '350px' }">
  <p-header style="color: rgb(181, 4, 4)"> {{ 'Asset.Error' | translate }} </p-header>
  <span style="color: rgb(181, 4, 4); font-weight: bold">
    {{ errorMessage }}</span>
</p-dialog>
<p-dialog appendTo="body" modal="true" [(visible)]="displaySuccessCreate" [style]="{ width: '350px' }">
  <ng-template pTemplate="header">
    <h6 [translate]="''" style="color: #04527e; font-weight: bold; font-size: 16pt">
      {{ "Asset.Save" | translate }}
    </h6>
  </ng-template>
  <span style="color: green; font-weight: bold; font-size: 12pt; text-align: center">
    {{ "Asset.SavedSuccess" | translate }}</span>
</p-dialog>