<div class="card" id="non-printable">
    <div class="card-header cardHeader">
        <h4 class="card-title"
            [ngStyle]="lang =='en' ? {'font-size': '40px','color': '#1683c2','font-weight': 'bold'} : {  'font-size': '40px','color': '#1683c2','font-weight': 'bold','margin-left': '175px'}">
            {{'Asset.SupplierAssets' | translate }}<span style=" font-size: 30pt;margin:0 10px;color:#79be47;">-
                {{supplierName}}</span>
        </h4>


        <div [ngStyle]="lang =='en' ? {'text-align': 'right'} : {  'text-align': 'left'}">

            <a style="width: 175px;cursor: pointer;" class="searchIcon search" (click)="toggle()">
                <i class="fa-solid fa-search" style="margin: 0px 10px 0px 10px;"></i>
                {{'Asset.AdvancedSearch' | translate }}
                <input type="hidden" value="{{buttonName}}" />
            </a>
        </div>
    </div>
    <div class="card-body" style="margin-top: -20px;">
        <form (ngSubmit)="onSearch()" #searchForm="ngForm">
            <fieldset *ngIf="show">
                <legend>{{'Asset.Search' | translate }}</legend>

                <div class="row top-buffer">
                    <div class="col-2">
                        <label for="governorate" [translate]="'Asset.Governorates'">Governorate</label>
                        <select class="form-control" id="governorate"
                            pTooltip="{{'Asset.Select' | translate }} {{'Asset.Governorate' | translate }} "
                            [disabled]="isGov" tooltipPosition="top" name="governorate" #governorateId="ngModel"
                            [value]="0" [(ngModel)]="searchObj.governorateId"
                            (change)="getCitiesByGovId(searchObj.governorateId)">
                            <option value="0">-- {{'Asset.Select' | translate }} {{'Asset.Governorate' | translate }} --
                            </option>
                            <option *ngFor="let gov of lstGovernorates" [value]="gov.id">
                                {{ lang == "en" ? gov.name : gov.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="cityId" [translate]="'Asset.Cities'">City</label>
                        <select class="form-control" id="city"
                            pTooltip="{{'Asset.Select' | translate }} {{'Asset.City' | translate }}"
                            tooltipPosition="top" name="cityId" #cityId="ngModel" [(ngModel)]="searchObj.cityId"
                            [disabled]="isCity">
                            <option value="0">-- {{'Asset.Select' | translate }} {{'Asset.City' | translate }} --
                            </option>
                            <option *ngFor="let city of lstCities" [value]="city.id">
                                {{ lang == "en" ? city.name : city.nameAr }}
                            </option>
                        </select>
                    </div>

                    <div class="col-2">
                        <label for="organization" [translate]="'Asset.Organizations'">Organization</label>
                        <select class="form-control" id="organization"
                            pTooltip="{{'Asset.Select' | translate }} {{'Asset.Organization' | translate }}"
                            [disabled]="isOrg" tooltipPosition="top" name="organization"
                            [(ngModel)]="searchObj.organizationId" (change)="getSubOrgByOrgId($event)" [value]="0">
                            <option value="0">-- {{'Asset.Select' | translate }} {{'Asset.Organization' | translate }}
                                --</option>
                            <option *ngFor="let org of lstOrganizations" [value]="org.id">
                                {{ lang == "en" ? org.name : org.nameAr }}
                            </option>
                        </select>
                    </div>

                    <div class="col-2">
                        <label for="organization" [translate]="'Asset.SubOrganizations'">Sub Organization</label>
                        <select class="form-control" id="suborganization"
                            pTooltip="{{'Asset.Select' | translate }} {{'Asset.SubOrganization' | translate }}"
                            tooltipPosition="top" name="suborganization" [value]="0" [disabled]="isSubOrg"
                            (change)="getHospitalsBySubOrgId($event)" [(ngModel)]="searchObj.subOrganizationId"
                            #suborganization="ngModel">
                            <option value="0">-- {{'Asset.Select' | translate }} {{'Asset.SubOrganization' | translate
                                }} --</option>
                            <option *ngFor="let suborg of lstSubOrganizations" [value]="suborg.id">
                                {{ lang == "en" ? suborg.name : suborg.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="hospitalId" [translate]="'Asset.Hospitals'">Hospitals</label>
                        <select class="form-control" id="hospitalId" [disabled]="isHospital"
                            pTooltip="{{'Asset.Select' | translate }} {{'Asset.Hospital' | translate }}"
                            tooltipPosition="top" name="hospitalId" [(ngModel)]="searchObj.hospitalId" [value]="0"
                            (change)="getAssetsByHospitalId($event)">
                            <option value="0">--{{'Asset.Select' | translate }} {{'Asset.Hospital' | translate }} --
                            </option>
                            <option *ngFor="let host of lstHospitals" [value]="host.id">
                                {{ lang == "en" ? host.name : host.nameAr }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-3">
                        <label for="assettId" [translate]="'Asset.Name'"></label>
                        <p-autoComplete [suggestions]="lstMasterAssets" type="search" name="masterAssetId"
                            id="masterAssetId" (completeMethod)="onMasterSelectionChanged($event)"
                            (onSelect)="getMasterObject($event)" field="master" appendTo="body"
                            placeholder="{{'Asset.AssetName' |  translate}}" [dropdown]="false">
                            <ng-template let-masterAssetObj pTemplate="item">
                                {{lang ==="en" ? masterAssetObj.name:masterAssetObj.nameAr}} -
                                {{lang ==="en" ? masterAssetObj.brandName:masterAssetObj.brandNameAr}}
                                - {{masterAssetObj.model}}
                            </ng-template>
                            <ng-template let-masterAssetObj pTemplate="selectedItem">
                                {{lang=="en" ?masterAssetObj.name:masterAssetObj.nameAr}} -
                                {{lang ==="en" ? masterAssetObj.brandName:masterAssetObj.brandNameAr}}
                                - {{masterAssetObj.model}}
                            </ng-template>
                        </p-autoComplete>
                    </div>
                    <div class="col-2">
                        <label for="barcode" [translate]="'Asset.Barcode'"></label>
                        <p-autoComplete [(ngModel)]="assetBarCodeObj" type="search"
                            [ngModelOptions]="{standalone: true}" [suggestions]="lstassetDetailBarcodes" name="barcode"
                            id="barcode" autoWidth="true" (completeMethod)="onSelectionChanged($event)"
                            pTooltip="{{'Asset.Barcode' | translate }}" tooltipPosition="top"
                            (onSelect)="getBarCode($event)" field="name" placeholder="{{'Asset.Barcode' |  translate}}"
                            [dropdown]="false" showClear="true">
                            <ng-template let-assetBarCodeObj pTemplate="item">
                                {{assetBarCodeObj.barCode}}
                            </ng-template>
                            <ng-template let-assetBarCodeObj pTemplate="selectedItem">
                                {{assetBarCodeObj.barCode}}
                            </ng-template>
                        </p-autoComplete>

                    </div>
                    <div class="col-1">
                        <button mat-icon-button color="primary" (click)="clearAssetBarCode()" title="clear">
                            <mat-icon style="margin-top: 30px;vertical-align: middle;">close</mat-icon>
                        </button>
                    </div>
                    <div class="col-2">
                        <label for="serial" [translate]="'Asset.Serial'"></label>
                        <p-autoComplete [(ngModel)]="assetSerailNumberObj" [ngModelOptions]="{standalone: true}"
                            [suggestions]="lstAssetSerailNumberObj" name="serial" id="serial" autoWidth="true"
                            (completeMethod)="onSerialNumberSelectionChanged($event)"
                            (onSelect)="getSerialNumber($event)" field="serialNumber"
                            pTooltip="{{'Asset.Serial' | translate }}" tooltipPosition="top"
                            placeholder="{{'Asset.Serial' |  translate}}" [dropdown]="false" showClear="true">
                            <ng-template let-assetSerailNumberObj pTemplate="item">
                                {{assetSerailNumberObj.serial}}
                            </ng-template>
                            <ng-template let-assetSerailNumberObj pTemplate="selectedItem">
                                {{assetSerailNumberObj.serial}}
                            </ng-template>
                        </p-autoComplete>
                    </div>
                    <div class="col-1">
                        <button mat-icon-button color="primary" (click)="clearAssetSerailNumber()" title="View Contact">
                            <mat-icon style="margin-top: 30px;vertical-align: middle;">close</mat-icon>
                        </button>
                    </div>
                    <div class="col-3">
                        <label for="model" [translate]="'Asset.Model'"></label>
                        <input type="text" class="form-control" id="model" pTooltip="{{'Asset.Model' |translate}}"
                            tooltipPosition="top" name="model" [(ngModel)]="searchObj.model"
                            placeholder="{{'Asset.Model' |translate}}" />
                    </div>
                </div>
                <div class="row top-buffer">

                    <div class="col-4">
                        <label for="orginId" [translate]="'Asset.Origins'">Origins</label>
                        <select class="form-control" id="orginId"
                            pTooltip="{{'Asset.Select' | translate }} {{'Asset.Origin' | translate }}"
                            tooltipPosition="top" name="orginId" [(ngModel)]="searchObj.originId" [value]="0">
                            <option value="0">-- {{'Asset.Select' | translate }} {{'Asset.Origin' | translate }} --
                            </option>
                            <option *ngFor="let orgn of lstOrigins" [value]="orgn.id">
                                {{ lang == "en" ? orgn.name : orgn.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="brandId" [translate]="'Asset.Brands'">Brands</label>
                        <select class="form-control" id="brandId"
                            pTooltip="{{'Asset.Select' | translate }} {{'Asset.Brand' | translate }}"
                            tooltipPosition="top" name="brandId" [(ngModel)]="searchObj.brandId" [value]="0">
                            <option value="0">-- {{'Asset.Select' | translate }} {{'Asset.Brand' | translate }} --
                            </option>
                            <option *ngFor="let brnd of lstBrands" [value]="brnd.id">
                                {{ lang == "en" ? brnd.name : brnd.nameAr }}
                            </option>
                        </select>
                    </div>

                    <div class="col-4">
                        <label for="departmentId" [translate]="'Asset.Departments'">Departments</label>
                        <select class="form-control" id="departmentId"
                            pTooltip="{{'Asset.Select' | translate }} {{'Asset.Department' | translate }}"
                            tooltipPosition="top" name="departmentId" [(ngModel)]="searchObj.departmentId" [value]="0">
                            <option value="0">-- {{'Asset.Select' | translate }} {{'Asset.Department' | translate }} --
                            </option>
                            <option *ngFor="let depart of lstDepartments" [value]="depart.id">
                                {{ lang == "en" ? depart.name : depart.nameAr }}
                            </option>
                        </select>
                    </div>

                </div>
                <div class="row top-buffer">
                    <div class="col-8"></div>
                    <div class="col-2">
                        <button class="btn btn-primary pull-center btn-sm" value="save" type="submit"
                            style="height: 25px; font-size: 20px;margin: 0px 5px;background-color: #1483c2;border-color: #1483c2;width: 100px;">
                            {{'Asset.Search' | translate }}
                        </button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary pull-center btn-sm" value="Reset" type="button"
                            style="height: 25px;font-size: 20px;margin: 0px 5px;background-color: #1483c2;border-color: #1483c2;width: 100px;"
                            (click)="reset()">
                            {{'Asset.Reset' | translate }}
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="row top-buffer" style="margin-top: 20px;">
            <div class="col-12">
                <p-table #dtAssets [value]="lstAssets"
                    styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines" [paginator]="true"
                    [lazy]="true" [rows]="10" [totalRecords]="count" pageLinks="10" (onLazyLoad)="clicktbl($event)"
                    [loading]="loading" [columns]="selectedColumns">
                    <ng-template pTemplate="caption">
                        <p-multiSelect [options]="cols" [(ngModel)]="_selectedColumns" optionLabel="header"
                            selectedItemsLabel="{0} {{columnsSelected}}" [style]="{minWidth: '200px'}"
                            [placeholder]="'Asset.ChooseColumns' |translate"></p-multiSelect>
                    </ng-template>

                    <ng-template pTemplate="header" let-cols>
                        <tr>

                            <ng-container *ngFor="let col of cols">
                                <th style="text-align: inherit;" [sortable]="true"
                                    style="text-align: inherit;cursor: pointer;">
                                    {{col.header}}
                                    <p-sortIcon id="{{col.header | translate}}" (click)="sort($event)">
                                    </p-sortIcon>
                                </th>
                            </ng-container>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-columns="columns">
                        <tr>
                            <ng-container *ngFor="let col of columns">
                                <td style="text-align: inherit;" *ngIf="col.field =='barCode'">
                                    {{item.barCode}}
                                </td>
                                <td style="text-align: inherit;"
                                    *ngIf="col.field =='assetName' || col.field =='assetNameAr'">
                                    <a [routerLink]="['/dash/hospitalassets/detail/',item.id]"
                                        style="text-decoration: underline;">{{lang=="en" ?
                                        item.assetName:item.assetNameAr}}</a>
                                </td>
                                <td style="text-align: inherit;" *ngIf="col.field != 'barCode' && col.field != 'assetName' && col.field != 'assetNameAr'  
                              && col.field != 'brandName' && col.field != 'brandNameAr' &&  col.field != 'supplierName' && col.field != 'supplierNameAr' 
                              && ((col.field != 'hospitalName' || col.field != 'hospitalNameAr') && !showHospital)
                              && col.field != 'serial'  && col.field != 'model' 
                              && (col.field != 'departmentName' || col.field != 'departmentNameAr' )                        
                              && ((col.field != 'governorateName' || col.field != 'governorateNameAr') && !showGov)
                              && ((col.field != 'cityName' || col.field != 'cityNameAr') && !showCity)
                              && ((col.field != 'orgName' || col.field != 'orgNameAr') && !showOrg)
                              && ((col.field != 'subOrgName' || col.field != 'subOrgNameAr') && !showSubOrg)">
                                    {{item[col.field]}}
                                </td>
                                <td style="text-align: inherit;" *ngIf="col.field == 'serial'"
                                    [ngStyle]="{'direction': lang === 'en' ? 'ltr': 'ltr'}">
                                    {{item.serial}}
                                </td>
                                <td style="text-align: inherit;"
                                    *ngIf="showHospital  && ((col.field == 'hospitalName') || (col.field == 'hospitalNameAr'))">
                                    {{lang=="en" ? item.hospitalName:item.hospitalNameAr}}
                                </td>
                                <td style="text-align: inherit;"
                                    *ngIf="showGov && ((col.field == 'governorateName') || (col.field == 'governorateNameAr'))">
                                    {{lang=="en" ? item.governorateName:item.governorateNameAr}}
                                </td>
                                <td style="text-align: inherit;"
                                    *ngIf="showCity && ((col.field == 'cityName') || (col.field == 'cityNameAr'))">
                                    {{lang=="en" ? item.cityName:item.cityNameAr}}
                                </td>
                                <td style="text-align: inherit;"
                                    *ngIf="showOrg  && ((col.field == 'orgName') || (col.field == 'orgNameAr'))">
                                    {{lang==" en" ? item.orgName:item.orgNameAr}} </td>
                                <td style="text-align: inherit;"
                                    *ngIf="showSubOrg && ((col.field == 'subOrgName') || (col.field == 'subOrgNameAr'))">
                                    {{lang=="en" ? item.subOrgName:item.subOrgNameAr}}
                                </td>
                                <td style="text-align: inherit;"
                                    *ngIf="(col.field == 'supplierName') || (col.field == 'supplierNameAr')">
                                    {{lang=="en" ? item.supplierName:item.supplierNameAr}}
                                </td>

                                <td style="text-align: inherit;" *ngIf="col.field == 'model'">
                                    {{item.model}}
                                </td>

                                <td style="text-align: inherit;"
                                    *ngIf="(col.field == 'brandName') || (col.field == 'brandNameAr')">
                                    {{lang=="en" ? item.brandName:item.brandNameAr}}
                                </td>
                            </ng-container>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft" *ngIf="lang=='en'" let-state>
                        {{'Asset.Showing' | translate }} {{(state.page * state.rows) + 1}}
                        {{'Asset.To' | translate }}
                        {{state.rows * (state.page + 1)}} {{'Asset.OF' | translate }}
                        {{count}}
                        {{'Asset.Entries' | translate }}
                    </ng-template>
                    <ng-template pTemplate="paginatorleft" *ngIf="lang=='ar'" let-state>
                        {{'Asset.Showing' | translate }} {{((state.page * state.rows) + 1).toLocaleString('ar-EG')}}
                        {{'Asset.To' | translate }}
                        {{(state.rows * (state.page + 1)).toLocaleString('ar-EG')}} {{'Asset.OF' | translate }}
                        {{(count)?.toLocaleString('ar-EG')}}
                        {{'Asset.Entries' | translate }}
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>
</div>


<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{ width: '350px' }">
    <p-header style="color: rgb(181, 4, 4)"> {{ 'Asset.Error' | translate }} </p-header>
    <span style="color: rgb(181, 4, 4); font-weight: bold">
        {{ errorMessage }}</span>
</p-dialog>