<div class="col-12">
    <div class="card-body">
        <form class="form-horizontal" #form="ngForm">
            <div class="row top-buffer">
                <div class="col-4">
                    <label for="RoleCategory" [translate]="'Asset.RoleCategory'"></label>
                    <select class="form-select" #roleCategoryId="ngModel" name="RoleCategory" id="RoleCategory"
                         [(ngModel)]="CreateRole.roleCategoryId"   (ngModelChange)="validateRoleCategory()" [ngClass]="{'is-invalid': isInvalidRoleCategory}">
                        <option selected [ngValue]="null">{{'Asset.SelectRolCategory' | translate}}</option>
                        <option *ngFor="let item of lstRoleCategories" [value]="item.id">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="roleName" class="control-label required" [translate]="'Asset.Name'"></label>
                    <input type="text" class="form-control"  id="roleName" required
                        name="AssetName" #name="ngModel" [(ngModel)]="CreateRole.name"  
                        [class.is-invalid]=" name.errors">
                </div>
                <div class="col-4">
                    <label for="displayName" class="control-label required" [translate]="'Asset.DisplayName'"></label>
                    <input type="text" class="form-control" 
                        id="displayName" name="displayName" #displayName="ngModel" [(ngModel)]="CreateRole.displayName" required
                        [class.is-invalid]="displayName.errors">
                </div>
            </div>
            <div class="row mt-3"><span class="fs-4">{{'Asset.addPermissions' | translate }} <i *ngIf="noCheckedAnyPermissions" class="pi pi-asterisk"style="color:red"></i></span></div>
            <div class="row" >
                <p-table  [dir]="dir" [value]="ModulesWithPermssions" [rows]="8" [totalRecords]="count"
                [rowHover]="true"  [lazy]="true" [paginator]="true" [scrollable]="true" scrollHeight="300px"
                (onLazyLoad)="LoadModulesWithPermssions($event)" [customSort]="true" (sortFunction)="LoadModulesWithPermssions($event)">
                    <ng-template pTemplate="header">
                        <tr>       
                               <!-- <th style="text-align: center;" pSortableColumn="Code">{{'Asset.Code' | translate }}
                            <p-sortIcon id="{{ 'Asset.Code' | translate}}" field="Code"/>
                        </th>          -->
                        <th style="text-align: center;">{{'Asset.Name' | translate}}</th>
                        <th style="text-align: center;">{{'Asset.add' | translate}}</th>
                        <th style="text-align: center;">{{'Asset.Edit' | translate}}</th>
                        <th style="text-align: center;">{{'Asset.Delete' | translate}}</th>
                        <th style="text-align: center;">{{'Asset.viewDetails' | translate}}</th>
                        <th style="text-align: center;">{{'Asset.ExportExcel' | translate}}</th>
                    </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-ModuleWithPermission let-rowIndex="rowIndex">
                        <tr>
                            <td style="text-align: center;">{{lang=='en' ? ModuleWithPermission.name : ModuleWithPermission.nameAr}}</td>
                            <td style="text-align: center;"> <input  type="checkbox" *ngIf="hasPermission(ModuleWithPermission,'Add')"  [checked]="getPermissionValue(ModuleWithPermission, 'Add')" (change)="updatePermissionValue(ModuleWithPermission, 'Add', $event.target.checked)"  id="addPermission-{{ rowIndex }}"></td>
                            <td style="text-align: center;"> <input type="checkbox"  *ngIf="hasPermission(ModuleWithPermission,'Edit')" [checked]="getPermissionValue(ModuleWithPermission, 'Edit')" (change)="updatePermissionValue(ModuleWithPermission, 'Edit', $event.target.checked)"  id="editPermission-{{ rowIndex }}"></td> 
                             <td style="text-align: center;"> <input type="checkbox"  *ngIf="hasPermission(ModuleWithPermission,'Delete')"  [checked]="getPermissionValue(ModuleWithPermission, 'Delete')" (change)="updatePermissionValue(ModuleWithPermission, 'Delete', $event.target.checked)"  id="deletePermission-{{ rowIndex }}"></td>
                            <td  style="text-align: center;"> <input type="checkbox"  *ngIf="hasPermission(ModuleWithPermission,'View Details')"  [checked]="getPermissionValue(ModuleWithPermission, 'View Details')" (change)="updatePermissionValue(ModuleWithPermission, 'View Details', $event.target.checked)"  id="ViewDetailsPermission-{{ rowIndex }}"></td>
                            <td  style="text-align: center;"> <input  type="checkbox" *ngIf="hasPermission(ModuleWithPermission,'ExportExcel')"   [checked]="getPermissionValue(ModuleWithPermission, 'ExportExcel')" (change)="updatePermissionValue(ModuleWithPermission, 'ExportExcel', $event.target.checked)"  id="ExportExcelPermission-{{ rowIndex }}"></td> 
                        </tr>
                    </ng-template>
              </p-table>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-center">
                    <button type="button"class="btn btn-success" value="save" (click)="addUser()"> {{ 'Asset.Save' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{width: '350px'}">
    <p-header style="color: rgb(181, 4, 4);"> {{ 'Asset.Error' | translate }} </p-header>
    <span style="color: rgb(181, 4, 4);font-weight: bold;"> {{errorMessage}}</span>
</p-dialog>