<div class="col-12">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="orderId">{{ 'Asset.OrderId'| translate}}</label>
            <input type="number" class="form-control"  name="orderId" [(ngModel)]="roleCategoryObj.orderId"
              autofocus  
              />
          </div>
        </div>        
        <div class="col-4">
          <div class="form-group">
            <label for="name" [translate]="'Asset.Name'"></label>
            <input type="text" class="form-control" name="Name"[(ngModel)]="roleCategoryObj.name" 
               />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="nameAr" [translate]="'Asset.ArabicName'"></label>
            <input type="text" class="form-control" name="ArabicName" [(ngModel)]="roleCategoryObj.nameAr"
                />
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <button class="btn btn-success" value="Save" type="button" (click)="onSubmit()"> {{ "Asset.Save" | translate
            }}</button>
        </div>
      </div>
    </form>
  </div>
  
  
  
  <p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{ width: '350px' }">
    <p-header style="color: rgb(181, 4, 4)"> {{ 'Asset.Error' | translate }} </p-header>
    <span style="color: rgb(181, 4, 4); font-weight: bold">
        {{ errorMessage }}</span>
  </p-dialog>