<!-- <router-outlet>
</router-outlet>
 -->

<div class="app-wrapper" [dir]="textDir" [ngStyle]="{'text-align': lang === 'en' ? 'left': 'right'}">

    <div class="row">
        <div class="col-12">
            <mat-toolbar style="background-color: #dbdcdb;color: #00386A;">
                <span style="margin-top: 5px;font-size: 20px;color: #1683c2;">
                    {{ 'Asset.Slogn' | translate }}</span>
                <span fxFlex></span>
            </mat-toolbar>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin: 50px 15px 0px 15px;">

                <div class="card-header cardHeader">
                    <h4 class="card-title" style="font-size: 30px;color: #1683c2;font-weight: bold;">
                        {{'Asset.ResetPassword' |
                        translate}}</h4>
                </div>
                <div class="card-body">
                    <!-- <h1 class="card-title">{{'Asset.ResetPassword' | translate}}</h1> -->

                    <div *ngIf="showError" class="alert alert-danger" role="alert">
                        <span [innerHTML]="errorMessage">{{errorMessage}}</span>
                    </div>

                    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                        Your password has been reset. Please <a [routerLink]="['']"> click here to log in. </a>
                    </div>
                    <!-- {{_email}} -->
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">{{ 'Asset.EMail' | translate
                            }}:</label>
                        <div class="input-group col-md-5">
                            {{_email}}
                        </div>

                    </div>





                    <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
                        (ngSubmit)="resetPassword(resetPasswordForm.value)">
                        <div class="form-group row">
                            <label for="password" class="col-form-label col-sm-2">{{ 'Asset.Password' | translate
                                }}:</label>
                            <div class="input-group col-md-5">
                                <input [type]="fieldTextType ? 'text' : 'password'" id="password"
                                    formControlName="password" class="form-control" />
                            </div>
                            <div class="col-md-5">
                                <em *ngIf="validateControl('password') && hasError('password', 'required')">{{
                                    'Asset.Password' | translate }} {{ 'Asset.Required' | translate }}</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="confirm" class="col-form-label col-sm-2">{{ 'Asset.ConfirmPassword' | translate
                                }}:</label>
                            <div class="input-group col-md-5">
                                <input [type]="repeatFieldTextType ? 'text' : 'password'" id="confirm"
                                    formControlName="confirm" class="form-control" />
                            </div>
                            <div class="col-md-5">
                                <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">تأكيد كلمة
                                    المرور مطلوب</em>
                                <em *ngIf="hasError('confirm', 'mustMatch')">كلمة المرور غير متطابقة</em>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid"> {{
                                    'Asset.Submit' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <router-outlet>
</router-outlet>


<div class="app-wrapper" [dir]="textDir" [ngStyle]="{'text-align': lang === 'en' ? 'left': 'right'}"
    dir="{{lang == 'en'?'ltr':'rtl'}}">

    <div class="row">
        <div class="col-12">
            <mat-toolbar style="background-color: #dbdcdb;color: #00386A;">
                <span style="margin-top: 5px;font-size: 20px;color: #1683c2;">
                    {{ 'Asset.Slogn' | translate }}</span>
                <span fxFlex></span>
            </mat-toolbar>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin: 50px 15px 0px 15px;">

                <div class="card-header cardHeader">
                    <h4 class="card-title" style="font-size: 30px;color: #1683c2;font-weight: bold;">{{'Asset.Reset' |
                        translate}} {{ 'Asset.Password' | translate }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ 'Asset.Reset' | translate }} {{ 'Asset.Password' | translate }}</h1>

                    <div *ngIf="showError" class="alert alert-danger" role="alert">
                        <span [innerHTML]="errorMessage"></span>
                    </div>

                    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                        Your password has been reset. Please <a [routerLink]="['/login']"> click here to log in. </a>
                    </div>
                    {{_email}}

                    <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
                        (ngSubmit)="resetPassword(resetPasswordForm.value)">
                        <div class="form-group row">
                            <label for="password" class="col-form-label col-sm-2">{{ 'Asset.Password' | translate
                                }}:</label>
                            <div class="input-group col-md-5">
                                <input [type]="fieldTextType ? 'text' : 'password'" id="password"
                                    formControlName="password" class="form-control" />
                            </div>
                            <div class="col-md-5">
                                <em *ngIf="validateControl('password') && hasError('password', 'required')">{{
                                    'Asset.Password' | translate }} {{ 'Asset.Required' | translate }}</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="confirm" class="col-form-label col-sm-2">Confirm {{ 'Asset.Password' | translate
                                }}:</label>
                            <div class="input-group col-md-5">
                                <input [type]="repeatFieldTextType ? 'text' : 'password'" id="confirm"
                                    formControlName="confirm" class="form-control" />
                            </div>
                            <div class="col-md-5">
                                <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">تأكيد كلمة
                                    المرور مطلوب</em>
                                <em *ngIf="hasError('confirm', 'mustMatch')">كلمة المرور غير متطابقة</em>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid"> {{
                                    'Asset.Submit' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->