<div class="col-12" id="non-printable">
    <div class="row top-buffer">
        <div class="col-3" *ngIf="showTitle">
            <h4 class="card-title"> {{'Asset.HospitalAssets' | translate }} </h4>
        </div>
        <button class="btn excelIcon" (click)="exportExcel()" pTooltip="{{'Asset.ExportExcel'| translate}}"
            tooltipPosition="top"> <i class="fa-solid fa-file-excel fa-2xl"></i></button>
        <button class="btn pdfIcon" (click)="printSelectedColumns()" pTooltip="{{'Asset.ExportPdf'| translate}}"
            tooltipPosition="top"> <i class="fa-solid fa-columns fa-2xl"></i></button>
        <div class="col-4"></div>
        <div class="col-2">
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                aria-controls="collapseExample" class="filterbutton">
                <i class="fa-solid fa-filter"></i> {{'Asset.Filter'|translate}}</a>
        </div>
        <div class="col-2">
            <a class="addbutton" *ngIf="showAdd" (click)="addAsset()"><i class="fa-solid fa-plus"></i> {{'Asset.Create'|
                translate}}</a>
        </div>

    </div>
    <div class="row top-buffer">

        <div class="col-10">
            <mat-list role="list" name="lstStatusItems">
                <mat-list-item class="mat-list-item" role="listitem">
                    <button mat-stroked-button name="btnAll" [matBadge]="totalCount"
                        (click)="getHospitalAssetsByStatusId(0)" class="btnclicked">{{'Asset.All' | translate
                        }}</button>
                </mat-list-item>
                <mat-list-item class="mat-list-item" role="listitem" *ngFor="let sts of lstStatuses">
                    <button *ngIf="sts.id===1" mat-stroked-button name="btn{{sts.id}}" class="btnclicked"
                        [matBadge]="countNeedRepair" (click)="getHospitalAssetsByStatusId(sts.id)"
                        [ngStyle]="{'color': sts.color}">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>
                    <button *ngIf="sts.id === 2" mat-stroked-button [matBadge]="countInActive" class="btnclicked"
                        (click)="getHospitalAssetsByStatusId(sts.id)" [ngStyle]="{'color': sts.color}">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>

                    <button *ngIf="sts.id === 3" mat-stroked-button [matBadge]="countWorking" class="btnclicked"
                        autofocus (click)="getHospitalAssetsByStatusId(sts.id)" [ngStyle]="{'color': sts.color}">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>

                    <button *ngIf="sts.id === 4" mat-stroked-button [matBadge]="countUnderMaintenance"
                        (click)="getHospitalAssetsByStatusId(sts.id)" class="btnclicked"
                        [ngStyle]="{'color': sts.color}">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>

                    <button *ngIf="sts.id === 5" mat-stroked-button [matBadge]="countUnderInstallation"
                        (click)="getHospitalAssetsByStatusId(sts.id)" class="btnclicked"
                        [ngStyle]="{'color': sts.color}">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>

                    <button *ngIf="sts.id === 6" mat-stroked-button [matBadge]="countNotWorking"
                        (click)="getHospitalAssetsByStatusId(sts.id)" class="btnclicked"
                        [ngStyle]="{'color': sts.color}">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>

                    <button *ngIf="sts.id === 7" mat-stroked-button [matBadge]="countShutdown"
                        (click)="getHospitalAssetsByStatusId(sts.id)" class="btnclicked"
                        [ngStyle]="{'color': sts.color}">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>

                    <button *ngIf="sts.id === 8" mat-stroked-button [matBadge]="countExecluded"
                        (click)="getHospitalAssetsByStatusId(sts.id)" class="btnclicked"
                        [ngStyle]="{'color': sts.color}">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>

                    <button *ngIf="sts.id === 9" mat-stroked-button [matBadge]="countHold"
                        (click)="getHospitalAssetsByStatusId(sts.id)" class="btnclicked"
                        [ngStyle]="{'color': sts.color}">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>
                    <button *ngIf="sts.id ===10" mat-stroked-button  [matBadge]="lstStatus10" (click)="getHospitalAssetsByStatusId(sts.id)"
                        [ngStyle]="{'color': sts.color}" class="btnclicked">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>



                    <button *ngIf="sts.id ===11" mat-stroked-button [matBadge]="lstStatus11" (click)="getHospitalAssetsByStatusId(sts.id)"
                        [ngStyle]="{'color': sts.color}" class="btnclicked">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>

                    <button *ngIf="sts.id ===12" mat-stroked-button [matBadge]="lstStatus12"  (click)="getHospitalAssetsByStatusId(sts.id)"
                        [ngStyle]="{'color': sts.color}" class="btnclicked">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>
                    <button *ngIf="sts.id ===13" mat-stroked-button [matBadge]="lstStatus13"  (click)="getHospitalAssetsByStatusId(sts.id)"
                        [ngStyle]="{'color': sts.color}" class="btnclicked">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>

                    <button *ngIf="sts.id ===14" mat-stroked-button  [matBadge]="lstStatus14" (click)="getHospitalAssetsByStatusId(sts.id)"
                        [ngStyle]="{'color': sts.color}" class="btnclicked">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>




                    <button *ngIf="sts.id ===15" mat-stroked-button [matBadge]="lstStatus15" (click)="getHospitalAssetsByStatusId(sts.id)"
                        [ngStyle]="{'color': sts.color}" class="btnclicked">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>
                    <button *ngIf="sts.id ===16" mat-stroked-button [matBadge]="lstStatus16" (click)="getHospitalAssetsByStatusId(sts.id)"
                        [ngStyle]="{'color': sts.color}" class="btnclicked">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>
                    <button *ngIf="sts.id ===17" mat-stroked-button [matBadge]="lstStatus17" (click)="getHospitalAssetsByStatusId(sts.id)"
                        [ngStyle]="{'color': sts.color}" class="btnclicked">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>

                    <button *ngIf="sts.id ===18" mat-stroked-button [matBadge]="lstStatus18" (click)="getHospitalAssetsByStatusId(sts.id)"
                        [ngStyle]="{'color': sts.color}" class="btnclicked">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>

                    <button *ngIf="sts.id ===19" mat-stroked-button [matBadge]="lstStatus19" (click)="getHospitalAssetsByStatusId(sts.id)"
                        [ngStyle]="{'color': sts.color}" class="btnclicked">
                        <span><i [ngClass]="sts.icon"></i></span>
                        {{lang=="en"?sts.name:sts.nameAr}}
                    </button>
                </mat-list-item>
            </mat-list>
        </div>

        <div class="col-2">
            <p-multiSelect [options]="cols" name="ddlCols" [(ngModel)]="selectedColumns" optionLabel="header"
                selectedItemsLabel="{0} {{columnsSelected}}" [placeholder]="'Asset.ChooseColumns' |translate">
            </p-multiSelect>
        </div>
    </div>
    <div class="col-12">
        <div class="collapse row card-filter" id="collapseExample">

            <form (ngSubmit)="onSearch()" #searchForm="ngForm">
                <div class="row top-buffer">
                    <div class="col-2">
                        <h5>{{ "Asset.Location" | translate }}:</h5>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="governorate" [disabled]="isGov" name="governorate"
                            #governorateId="ngModel" [value]="0" [(ngModel)]="sortFilterObjects.searchObj.governorateId"
                            (change)="getCitiesByGovId(sortFilterObjects.searchObj.governorateId)">
                            <option value="0">{{'Asset.Governorates' | translate }} </option>
                            <option *ngFor="let gov of lstGovernorates" [value]="gov.id">
                                {{ lang == "en" ? gov.name : gov.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="city" name="cityId" #cityId="ngModel"
                            [(ngModel)]="sortFilterObjects.searchObj.cityId"
                            (change)="getHospitalsByGovCityOrgSubOrgId()" [disabled]="isCity">
                            <option value="0">{{'Asset.Cities' | translate }}</option>
                            <option *ngFor="let city of lstCities" [value]="city.id">
                                {{ lang == "en" ? city.name : city.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="organization" [disabled]="isOrg" name="organization"
                            [(ngModel)]="sortFilterObjects.searchObj.organizationId" (change)="getSubOrgByOrgId($event)"
                            [value]="0">
                            <option value="0">{{'Asset.Organizations' | translate }}</option>
                            <option *ngFor="let org of lstOrganizations" [value]="org.id">
                                {{ lang == "en" ? org.name : org.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="suborganization" name="suborganization" [value]="0"
                            [disabled]="isSubOrg" (change)="getHospitalsByGovCityOrgSubOrgId()"
                            [(ngModel)]="sortFilterObjects.searchObj.subOrganizationId" #suborganization="ngModel">
                            <option value="0">{{'Asset.SubOrganizations' | translate }}</option>
                            <option *ngFor="let suborg of lstSubOrganizations" [value]="suborg.id">
                                {{ lang == "en" ? suborg.name : suborg.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="hospitalId" [disabled]="isHospital" name="hospitalId"
                            [(ngModel)]="sortFilterObjects.searchObj.hospitalId" [value]="0"
                            (change)="getAssetsByHospitalId($event)">
                            <option value="0">{{'Asset.Hospitals' | translate }} </option>
                            <option *ngFor="let host of lstHospitals" [value]="host.id">
                                {{ lang == "en" ? host.name : host.nameAr }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-2">
                        <h5>{{ "Asset.BasicData" | translate }}:</h5>
                    </div>
                    <div class="col-2">
                        <p-autoComplete [suggestions]="lstMasterAssetNames" type="search" name="masterAssetName"
                            id="masterAssetId" (completeMethod)="onMasterNameSelectionChanged($event)"
                            (onSelect)="getMasterObjectName($event)" field="masterName" appendTo="body"
                            [dropdown]="false" [placeholder]="'Asset.Name' |translate">
                            <ng-template let-masterAssetNameObj pTemplate="item">
                                {{lang ==="en" ? masterAssetNameObj.name:masterAssetNameObj.nameAr}}
                            </ng-template>
                            <ng-template let-masterAssetNameObj pTemplate="selectedItem">
                                {{lang ==="en" ? masterAssetNameObj.name:masterAssetNameObj.nameAr}}
                            </ng-template>
                        </p-autoComplete>
                    </div>
                    <div class="col-2">
                        <p-autoComplete [(ngModel)]="assetBarCodeObj" type="search"
                            [ngModelOptions]="{standalone: true}" [suggestions]="lstassetDetailBarcodes" name="barcode"
                            id="barcode" autoWidth="true" (completeMethod)="onBarCodeSelectionChanged($event)"
                            (onSelect)="getBarCode($event)" field="name" [dropdown]="false" showClear="true"
                            [placeholder]="'Asset.Barcode' |translate">
                            <ng-template let-assetBarCodeObj pTemplate="item">
                                {{assetBarCodeObj.barCode}}
                            </ng-template>
                            <ng-template let-assetBarCodeObj pTemplate="selectedItem">
                                {{assetBarCodeObj.barCode}}
                            </ng-template>
                        </p-autoComplete>

                    </div>
                    <div class="col-2">
                        <p-autoComplete [(ngModel)]="assetSerailNumberObj" [ngModelOptions]="{standalone: true}"
                            [suggestions]="lstAssetSerailNumberObj" name="serial" id="serial" autoWidth="true"
                            (completeMethod)="onSerialNumberSelectionChanged($event)"
                            (onSelect)="getSerialNumber($event)" field="serialNumber" [dropdown]="false"
                            showClear="true" [placeholder]="'Asset.Serial' |translate">
                            <ng-template let-assetSerailNumberObj pTemplate="item">
                                {{assetSerailNumberObj.serial}}
                            </ng-template>
                            <ng-template let-assetSerailNumberObj pTemplate="selectedItem">
                                {{assetSerailNumberObj.serial}}
                            </ng-template>
                        </p-autoComplete>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="orginId" name="orginId"
                            [(ngModel)]="sortFilterObjects.searchObj.originId" [value]="0">
                            <option value="0">{{'Asset.Origins' | translate }} </option>
                            <option *ngFor="let orgn of lstOrigins" [value]="orgn.id">
                                {{ lang == "en" ? orgn.name : orgn.nameAr }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-2">
                        <h5>{{ "Asset.BasicData" | translate }}:</h5>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" id="model" name="model"
                            [(ngModel)]="sortFilterObjects.searchObj.model" [placeholder]="'Asset.Model' |translate" />
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="supplierId" name="supplierId"
                            [(ngModel)]="sortFilterObjects.searchObj.supplierId" [value]="0">
                            <option value="0">{{'Asset.Suppliers' | translate }}</option>
                            <option *ngFor="let supply of lstSuppliers" [value]="supply.id">
                                {{ lang == "en" ? supply.name : supply.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="brandId" name="brandId"
                            [(ngModel)]="sortFilterObjects.searchObj.brandId" [value]="0">
                            <option value="0">{{'Asset.Brands' | translate }}</option>
                            <option *ngFor="let brnd of lstBrands" [value]="brnd.id">
                                {{ lang == "en" ? brnd.name : brnd.nameAr }}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <select class="form-control" id="departmentId" name="departmentId"
                            [(ngModel)]="sortFilterObjects.searchObj.departmentId" [value]="0">
                            <option value="0">{{'Asset.Departments' | translate }} </option>
                            <option *ngFor="let depart of lstDepartments" [value]="depart.id">
                                {{ lang == "en" ? depart.name : depart.nameAr }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-2">
                        <h5>{{ "Asset.Contract" | translate }}:</h5>
                    </div>
                    <div class="col-4" *ngIf="contractTypeRadio">
                        <div class="form-check form-check-inline" *ngFor="let cntrct of lstContractTypes">
                            <p-radioButton class="form-check-input" name="grpContractType" [value]="cntrct.id"
                                [(ngModel)]="selectedContractType" (onClick)="onContractTypeChanged($event)">
                            </p-radioButton>
                            <label [for]="cntrct.id" class="form-check-label">{{lang == "en"
                                ?cntrct.name:cntrct.nameAr}}</label>
                        </div>
                    </div>
                    <div class="col-3 " *ngIf="contractDateSearch">
                        <label for="contractStart">{{'Asset.From' | translate }}</label>
                        <p-calendar [(ngModel)]="sortFilterObjects.searchObj.contractStartDate" name="contractStart"
                            [showIcon]="true" [yearNavigator]="true" yearRange="1900:2030" [monthNavigator]="true"
                            [ngModelOptions]="{standalone: true}" (onSelect)="getContractStartDate($event)"
                            inputId="contractStart" showButtonBar="true">
                        </p-calendar>
                    </div>
                    <div class="col-3" *ngIf="contractDateSearch">
                        <label for="contractEnd">{{'Asset.To' | translate }}</label>
                        <p-calendar [(ngModel)]="sortFilterObjects.searchObj.contractEndDate" name="contractEnd"
                            [showIcon]="true" [yearNavigator]="true" yearRange="1900:2030" [monthNavigator]="true"
                            (onSelect)="getContractEndDate($event)" inputId="contractEnd" showButtonBar="true">
                        </p-calendar>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col-2">
                        <h5>{{ "Asset.Warranty" | translate }}:</h5>
                    </div>
                    <div class="col-4" *ngIf="warrantyTypeRadio">
                        <div class="form-check form-check-inline" *ngFor="let wrnty of lstWarrantyType">
                            <p-radioButton class="form-check-input" name="grpWrntyType" [value]="wrnty.id"
                                (onClick)="onWarrantyTypeChanged($event)" [(ngModel)]="selectedWarrantyType">
                            </p-radioButton>
                            <label [for]="wrnty.id" class="form-check-label">{{lang == "en"
                                ?wrnty.name:wrnty.nameAr}}</label>
                        </div>
                    </div>
                    <div class="col-3" *ngIf="warrantyEndSearch">
                        <label for="start">{{'Asset.From' | translate }}</label>
                        <p-calendar [(ngModel)]="sortFilterObjects.searchObj.start" name="startDate" [showIcon]="true"
                            [yearNavigator]="true" yearRange="1900:2030" [monthNavigator]="true"
                            [ngModelOptions]="{standalone: true}" (onFocus)="hideWarrantyType()"
                            (onSelect)="getStartDate($event)" inputId="start" appendTo="body" showButtonBar="true">
                        </p-calendar>
                    </div>
                    <div class="col-3" *ngIf="warrantyEndSearch">
                        <label for="end">{{'Asset.To' | translate }}</label>
                        <p-calendar [(ngModel)]="sortFilterObjects.searchObj.end" name="endDate" [showIcon]="true"
                            [yearNavigator]="true" yearRange="1900:2030" (onFocus)="hideWarrantyType()"
                            [monthNavigator]="true" (onSelect)="getEndDate($event)" inputId="end" appendTo="body"
                            showButtonBar="true">
                        </p-calendar>
                    </div>
                </div>

                <div class="row top-buffer">
                    <div class="col-10"></div>
                    <div class="col-1"> <button class="btn searchIcon" value="save" type="submit">
                            <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
                        </button></div>
                    <div class="col-1">
                        <button class="btn reset" value="Reset" type="button" (click)="clearSearch()">
                            <i class="fa-solid fa-circle-xmark  fa-2xl"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-table #dtAssets [rowHover]="true" [value]="lstAssets"
                styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines" [paginator]="true" [lazy]="true"
                [rows]="10" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="count" pageLinks="10"
                (onLazyLoad)="clicktbl($event)" [loading]="loading" [columns]="selectedColumns"
                (pageChange)="clicktbl($event)">
                <ng-template pTemplate="header" let-cols>
                    <tr>
                        <th></th>
                        <ng-container *ngFor="let col of cols">
                            <th style="text-align: inherit;" [sortable]="true">
                                {{col.header}}
                                <p-sortIcon id="{{col.header | translate}}" (click)="sort($event)">
                                </p-sortIcon>
                            </th>
                        </ng-container>
                        <th>{{ 'Asset.Actions' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-columns="columns">
                    <tr>
                        <td>
                            <mat-checkbox id="ckbx{{item.id}}" name="ckbx{{item.id}}"
                                (change)="printAssets($event, item.id)" [value]="item.id">
                            </mat-checkbox>
                        </td>
                        <ng-container *ngFor="let col of columns">
                            <td style="text-align: inherit;" *ngIf="col.field =='barCode'">
                                {{item.barCode}}
                            </td>
                            <td style="text-align: inherit;"
                                *ngIf="col.field =='assetName' || col.field =='assetNameAr'">
                                <span style="text-decoration-line: underline;" (click)="viewDetail(item.id)">
                                    {{lang=="en" ? item.assetName:item.assetNameAr}}
                                </span>
                            </td>
                            <td style="text-align: inherit;" *ngIf="col.field != 'barCode' && col.field != 'assetName' && col.field != 'assetNameAr'  
                                  && col.field != 'brandName' && col.field != 'brandNameAr' &&  col.field != 'supplierName' && col.field != 'supplierNameAr' 
                                  && ((col.field != 'hospitalName' || col.field != 'hospitalNameAr') && !showHospital)
                                  && col.field != 'serial'  && col.field != 'model'    
                                   && col.field != 'departmentName' && col.field != 'departmentNameAr' 
                                  && ((col.field != 'governorateName' || col.field != 'governorateNameAr') && !showGov)
                                  && ((col.field != 'cityName' || col.field != 'cityNameAr') && !showCity)
                                  && ((col.field != 'orgName' || col.field != 'orgNameAr') && !showOrg)
                                  && ((col.field != 'subOrgName' || col.field != 'subOrgNameAr') && !showSubOrg)">
                                {{item[col.field]}}
                            </td>
                            <td style="text-align: inherit;" *ngIf="col.field == 'serial'"
                                [ngStyle]="{'direction': lang === 'en' ? 'ltr': 'ltr'}">
                                {{item.serial}}
                            </td>
                            <td style="text-align: inherit;"
                                *ngIf="showHospital  && ((col.field == 'hospitalName') || (col.field == 'hospitalNameAr'))">
                                {{lang=="en" ? item.hospitalName:item.hospitalNameAr}}
                            </td>
                            <td style="text-align: inherit;"
                                *ngIf="showGov && ((col.field == 'governorateName') || (col.field == 'governorateNameAr'))">
                                {{lang=="en" ? item.governorateName:item.governorateNameAr}}
                            </td>
                            <td style="text-align: inherit;"
                                *ngIf="showCity && ((col.field == 'cityName') || (col.field == 'cityNameAr'))">
                                {{lang=="en" ? item.cityName:item.cityNameAr}}
                            </td>
                            <td style="text-align: inherit;"
                                *ngIf="showOrg  && ((col.field == 'orgName') || (col.field == 'orgNameAr'))">
                                {{lang==" en" ? item.orgName:item.orgNameAr}} </td>
                            <td *ngIf="showSubOrg && ((col.field == 'subOrgName') || (col.field == 'subOrgNameAr'))">
                                {{lang=="en" ? item.subOrgName:item.subOrgNameAr}}
                            </td>
                            <td style="text-align: inherit;"
                                *ngIf="(col.field == 'supplierName') || (col.field == 'supplierNameAr')">
                                {{lang=="en" ? item.supplierName:item.supplierNameAr}}
                            </td>
                            <td style="text-align: inherit;" *ngIf="col.field == 'model'">{{item.model}}
                            </td>

                            <td style="text-align: inherit;"
                                *ngIf="(col.field == 'brandName') || (col.field == 'brandNameAr')">
                                {{lang=="en" ? item.brandName:item.brandNameAr}}
                            </td>
                            <td style="text-align: inherit;"
                                *ngIf="(col.field == 'departmentName') || (col.field == 'departmentNameAr')">
                                {{lang=="en" ? item.departmentName:item.departmentNameAr}}
                            </td>
                        </ng-container>
                        <td style="text-align: inherit;">
                            <span class="viewIcon" (click)="viewAsset(item.id)">
                                <i class="fa-solid fa-eye"></i>
                            </span>
                            <span class="editIcon" (click)="editAsset(item.id)">
                                <i class="fa-solid fa-edit"></i>
                            </span>
                            <span class="deleteIcon" (click)="deleteAsset(item.id)">
                                <i class="fa-solid fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                </ng-template>


                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td style="text-align: inherit;" colspan="12"
                            style="text-align: inherit; color: red;font-size: 20px;font-weight: bold;">
                            {{'Asset.NoData' | translate }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{ width: '350px' }">
    <p-header style="color: rgb(181, 4, 4)"> {{ 'Asset.Error' | translate }} </p-header>
    <span style="color: rgb(181, 4, 4); font-weight: bold">
        {{ errorMessage }}</span>
</p-dialog>