
.mat-list {
  display: inline-block;
  flex-flow: row wrap;
}

.mat-list-base .mat-list-item.mat-list-item {
  display: initial;
  width: auto;
}

@media print {
  button {
    display: none;
  }

  #non-printable {
    display: none;
  }

  #printable {
    display: block;
    
  }


  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}

@page {
  margin: 0px 0px -10px 0px;
  size: A4 portrait;

}