<div class="col-12">
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        {{successMessage}}
    </div>
    <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate
        (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
        <div class="row">
            <div class="col-4 text-center">
                <h5 for="email"> {{'Asset.EMail' | translate}}:</h5>
            </div>
            <div class="col-8">
                <input type="text" id="email" formControlName="email" class="form-control" />
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-success" [disabled]="!forgotPasswordForm.valid">
                    {{'Asset.Submit' | translate}}</button>
            </div>
        </div>
    </form>
</div>