<div class="card">
    <div class="card-body">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="row top-buffer">
                <div class="col-6">
                    <label for="governorate" [translate]="'Asset.Governorate'"></label>
                    <select class="form-control" id="governorate" name="governorate" [value]="0"
                        (change)="getCitiesByGovId($event)" #governorateId="ngModel"
                        [(ngModel)]="employeeObj.governorateId" [disabled]="isDisabled">
                        <option value="0"></option>
                        <option *ngFor="let gov of lstGovernorates" [value]="gov.id"
                            [selected]="gov.id ==  employeeObj.governorateId">
                            {{ lang == "en" ? gov.name : gov.nameAr }}
                        </option>
                    </select>
                </div>

                <div class="col-6">
                    <label for="cityId" [translate]="'Asset.City'"></label>
                    <select class="form-control" id="city" name="city" [value]="0" [(ngModel)]="employeeObj.cityId"
                        #cityId="ngModel" [disabled]="isDisabled">
                        <option value="0"></option>
                        <option *ngFor="let city of lstCities" [value]="city.id"
                            [selected]="city.id ==  employeeObj.cityId">
                            {{ lang == "en" ? city.name : city.nameAr }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-3">
                    <label for="organization" [translate]="'Asset.Organization'"></label>
                    <select class="form-control" id="organization" [disabled]="isDisabled" name="organization"
                        [(ngModel)]="employeeObj.organizationId" #organizationId="ngModel"
                        (change)="getSubOrgByOrgId($event)" [value]="0">
                        <option value="0"></option>
                        <option *ngFor="let org of lstOrganizations" [value]="org.id"
                            [selected]="org.id ==  employeeObj.organizationId">
                            {{ lang == "en" ? org.name : org.nameAr }}
                        </option>
                    </select>
                </div>

                <div class="col-3">
                    <label for="suborganization" [translate]="'Asset.SubOrganization'"></label>
                    <select class="form-control" id="suborganization" name="suborganization" [value]="0"
                        [disabled]="isDisabled" [(ngModel)]="employeeObj.subOrganizationId"
                        (change)="getHospitalsBySubOrgId($event)">
                        <option value="0"></option>
                        <option *ngFor="let suborg of lstSubOrganizations" [value]="suborg.id"
                            [selected]="suborg.id ==  employeeObj.subOrganizationId">
                            {{ lang == "en" ? suborg.name : suborg.nameAr }}
                        </option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="hospitalId" [translate]="'Asset.Hospitals'">Hospitals</label>
                    <select class="form-control" id="hospitalId" name="hospitalId" #hospitalId="ngModel" [value]="0"
                        [(ngModel)]="employeeObj.hospitalId" (change)="getDepartmentsofHospital($event)"
                        [disabled]="isDisabled">
                        <option value="0"></option>
                        <option *ngFor="let hospital of lstHospitals" [value]="hospital.id"
                            [selected]="hospital.id ==  employeeObj.hospitalId">
                            {{ lang == "en" ? hospital.name:hospital.nameAr}}
                        </option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="departmentId" [translate]="'Asset.Departments'"></label>
                    <select [value]="0" [(ngModel)]="employeeObj.departmentId" id="departmentId" #departmentId="ngModel"
                        name="departmentId" class="form-control">
                        <option value="0"></option>
                        <option *ngFor="let item of lstDepartments" value="{{item.id}}"
                            [selected]="item.id == employeeObj.departmentId">{{lang=="en" ? item.name:
                            item.nameAr}}</option>
                    </select>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-2">
                    <label for="code" [translate]="'Asset.Code'"> </label>
                    <input type="text" class="form-control" id="code" name="code" [(ngModel)]="employeeObj.code"
                        #code="ngModel" [class.is-invalid]=" (code.touched && code.errors) || form.submitted"
                        [class.is-valid]="code.valid && form.submitted" required />
                </div>
                <div class="col-5">
                    <label for="name" [translate]="'Asset.Name'"></label>
                    <input type="text" #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
                        [class.is-valid]="name.valid" [(ngModel)]="employeeObj.name" name="name" id="name"
                        class="form-control" required>
                </div>
                <div class="col-5">
                    <label for="nameAr" [translate]="'Asset.ArabicName'"></label>
                    <input type="text" #nameAr="ngModel" [class.is-invalid]="nameAr.invalid && nameAr.touched"
                        [class.is-valid]="nameAr.valid" [(ngModel)]="employeeObj.nameAr" name="nameAr" id="nameAr"
                        class="form-control" required>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-6">
                    <label for="Address" [translate]="'Asset.Address'"></label>
                    <textarea type="text" #address="ngModel" name="address" id="address" class="form-control"
                        [(ngModel)]="employeeObj.address"></textarea>
                </div>
                <div class="col-6">
                    <label for="AddressAr" [translate]="'Asset.ArabicAddress'"></label>
                    <textarea type="text" #addressAr="ngModel" name="addressAr" id="addressAr" class="form-control"
                        [(ngModel)]="employeeObj.addressAr"></textarea>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-4">
                    <label for="email" [translate]="'Asset.EMail'"></label>
                    <input type="email" class="form-control" #email="ngModel" [(ngModel)]="employeeObj.email"
                        name="email">
                </div>
                <div class="col-4">
                    <label for="cardId" [translate]="'Asset.CardId'"></label>
                    <input type="cardId" class="form-control" #cardId="ngModel" [(ngModel)]="employeeObj.cardId"
                        id="cardId" name="cardId">
                </div>
                <div class="col-4">
                    <label for="dob" [translate]="'Asset.DOB'"></label>
                    <br />
                    <mat-form-field appearance="fill">
                        <input matInput [matDatepicker]="dob" [value]="employeeObj.dob | date:'yyyy-MM-dd'">
                        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                        <mat-datepicker #dob></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-3">
                    <label for="WhatsApp" [translate]="'Asset.WhatsApp'"></label>
                    <input type="text" class="form-control" #whatsApp="ngModel" name="whatsApp"
                        [(ngModel)]="employeeObj.whatsApp">
                </div>
                <div class="col-3">
                    <label for="Phone" [translate]="'Asset.Phone'"></label>
                    <input class="form-control" type="number" #phone="ngModel" name="phone"
                        [(ngModel)]="employeeObj.phone">
                </div>
                <div class="col-3">
                    <label for="genderId" [translate]="'Asset.Gender'"></label>
                    <select name="genderId" #genderId="ngModel" [(ngModel)]="employeeObj.genderId" class="form-control"
                        [value]="0">
                        <option value="0"></option>
                        <option *ngFor="let item of lstGender" value="{{item.id}}"
                            [selected]="item.id == employeeObj.genderId">{{lang=="en" ? item.name:
                            item.nameAr}}</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="classificationId" [translate]="'Asset.Classification'"></label>
                    <select name="classificationId" #classificationId="ngModel"
                        [(ngModel)]="employeeObj.classificationId" class="form-control" [value]="0">
                        <option value="0"></option>
                        <option *ngFor="let item of lstClasses" value="{{item.id}}"
                            [selected]="item.id == employeeObj.classificationId">{{lang=="en" ? item.name:
                            item.nameAr}}</option>
                    </select>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-12">
                    <button type="submit" class="btn btn-success" [translate]="'Asset.Save'"></button>
                </div>
            </div>
        </form>
    </div>
</div>


<p-dialog appendTo="body" modal="true" [(visible)]="display">
    <ng-template pTemplate="header">
        <h6>{{ 'Asset.Save' | translate }} </h6>
    </ng-template>
    <span> {{ 'Asset.SavedSuccess' | translate }}</span>
</p-dialog>
<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay">
    <p-header> {{ 'Asset.Error' | translate }} </p-header>
    <span> {{ errorMessage }}</span>
</p-dialog>