<div class="page">
    <div class="row top-buffer ">
        <div class="col-4"></div>
        <div class="col-4 text-center" style="margin-top: 30px;">
            <div class=""> <img src="assets/images/logo.png" alt="Asset Management Sysytem" width="300" height="300">
            </div>
            <div class="card-body">
                <form #form="ngForm" (ngSubmit)="form.valid && login()" >
                    <div class="row top-buffer">
                        <input type="text" class="form-control" id="userName" name="userName" #userName="ngModel"
                            [(ngModel)]="loggingUserObj.userName" placeholder="Username"
                            [class.is-invalid]="(userName.touched && userName.errors) || form.submitted"
                            [class.is-valid]="userName.valid && form.submitted"/>
                        
                    </div>
                    <div class="row top-buffer"></div>
                    <div class="row top-buffer">
                        <input type="password" class="form-control" id="passwordHash" name="passwordHash"
                            placeholder="Password" #passwordHash="ngModel" [(ngModel)]="loggingUserObj.passwordHash"
                            [class.is-invalid]="(passwordHash.touched && passwordHash.errors) || (passwordHash.untouched && passwordHash.errors) || form.submitted"
                            [class.is-valid]="passwordHash.valid && form.submitted"/>
                           
                    </div>
                    <br/>
                    <div *ngIf="display" style="color: #900202;font-size: 12px;font-weight: bold;">
                        {{displayerror}}
                    </div>
                    <div class="row">
                        <div class="checkbox" style="margin-left: -20px;">
                            <label style="font-size: smaller;"> <input id="login-remember" type="checkbox"
                                    #isRemembered="ngModel" [(ngModel)]="loggingUserObj.isRemembered" name="remember">
                                Remember me</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center col-md-12">
                            <input type="submit" name="signin" id="signin" class="btn " value="Login" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>