<div class="page">
    <div class="row top-buffer ">
        <div class="col-4"></div>
        <div class="col-4 text-center" style="margin-top: 30px;">
            <div class=""> <img src="assets/images/logo.png" alt="Asset Management Sysytem" width="300" height="300">
            </div>
            <div class="card-body mt-1">
                <form #form="ngForm">
                    <div class="row top-buffer">
                        <input type="text" 
                        class="form-control" 
                        id="userName" 
                        name="userName" 
                        #userName="ngModel" 
                        [(ngModel)]="loggingUserObj.userName" 
                        placeholder="Username"
                        required
                        [ngClass]="{
                            'is-invalid': true,
                            'is-valid': userName.touched && userName.valid
                        }"/>
                    </div>  
              
                    <div class="row top-buffer"></div>
                    <div class="row top-buffer mt-3">
                        <input type="password" class="form-control" id="passwordHash" name="passwordHash" required
                            placeholder="Password" #passwordHash="ngModel" [(ngModel)]="loggingUserObj.passwordHash"
                            [class.is-invalid]="true"
                            [class.is-valid]="passwordHash.valid"/>
                           
                    </div>
                    <br/>
                    <div *ngIf="display" style="color: #900202;font-size: 12px;font-weight: bold;">
                        {{displayerror}}
                    </div>
                    <div class="row">
                        <div class="checkbox" style="margin-left: -20px;">
                            <label style="font-size: smaller;"> <input id="login-remember" type="checkbox"
                                    #isRemembered="ngModel" [(ngModel)]="loggingUserObj.isRemembered" name="remember">
                                Remember me</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center col-md-12">
                             <div class="btn btn-primary" (click)="login()">{{"Asset.Login" | translate}}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{ width: '450px' }">
    <p-header style="color: rgb(181, 4, 4)">
      {{ "Asset.Error" | translate }}
    </p-header>
    <span style="color: rgb(181, 4, 4); font-weight: bold">
      {{ errorMessage }}</span>
  </p-dialog>
  