<div class="card">

    <div class="card-body" style="margin-top: -20px;">

        <form (ngSubmit)="saveStatus()">

            <div class="row top-buffer">
                <div class="col-12">
                    <label for="notes" [translate]="'Asset.Notes'"></label>
                    <textarea #notes="ngModel" name="notes" id="notes" class="form-control"
                        [(ngModel)]="woTrackObj.notes" [placeholder]="'Asset.Notes' | translate"></textarea>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-12">
                    <button [disabled]="isDisabled" class="btn btn-primary pull-center btn-sm" value="save"
                        type="submit" style="margin-top: 20px;background-color: #1483c2;border-color: #1483c2;">
                        {{ 'Asset.Save' | translate }}
                    </button>
                </div>
            </div>
        </form>


        <div class="row top-buffer">
            <div class="col-10">
                <label for="docmentName"> {{'Asset.DocumentTitle' | translate }}</label>
                <input #documentName="ngModel" class="form-control" type="text" pInputText
                    placeholder="{{'Asset.DocumentTitle' | translate }}"
                    [(ngModel)]="createWorkOrderAttachmentObj.documentName">
            </div>

            <div class="col-2">
                <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)"
                    style="display:none;">
                <button type="button" class="btn btn-outline-success" style="margin-top: 20px;margin-left: 10px;"
                    (click)="file.click()"> <i class="fa fa-upload"
                        style="color: #61bb20; cursor: pointer;margin: 0px 5px;"></i>{{'Asset.SelectDocument' |
                    translate }}
                </button>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{'Asset.Name' | translate }}</th>
                            <th>{{'Asset.DocumentTitle' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of lstCreateWorkOrderTracking">
                            <td>{{i.fileName}}</td>
                            <td>{{i.documentName}}</td>
                            <td>
                                <span (click)="removeFileFromObjectArray(i)"><i class="fa-solid fa-times-circle"
                                        style="color: rgb(123, 9, 9);"></i></span>
                            </td>
                        </tr>
                        <tr *ngIf="lstCreateWorkOrderTracking.length == 0">
                            <td colspan="4" style="color: rgb(102, 97, 23);" [translate]="'Asset.NoData'">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>








    </div>
</div>
<p-dialog [(visible)]="errorDisplay" [style]="{width: '350px'}">
    <p-header style="color: rgb(181, 4, 4);"> {{ 'Asset.Error' | translate }} </p-header>
    <span style="color: rgb(181, 4, 4);font-weight: bold;"> {{errorMessage}}</span>
</p-dialog>
<p-dialog [(visible)]="display" [style]="{width: '350px'}">
    <ng-template pTemplate="header">
        <h6 style="color: #04527e;font-weight: bold;font-size: 16pt;">{{ 'Asset.Save' | translate }}
        </h6>
    </ng-template>
    <span style="color: green;font-weight: bold;font-size: 12pt;text-align: center;"> {{ 'Asset.SavedSuccess' |
        translate
        }}</span>

    <br />
    <br />
    <button class="btn btn-primary pull-center btn-md"
        style="margin: 0px 5px;background-color: #fe7f83 !important;border-color:#fe7f83" (click)="closeDialogue()"> {{
        'Asset.Close' | translate }}</button>
</p-dialog>