  
        <div class="row p-1">
            <div class="col-md-12">
                <span style="font-weight: bold;"> {{'Asset.SRNumber' | translate }} :
                </span>&nbsp;{{requestDetailObj.requestCode}}
            </div>
        </div>
        <div class="row  p-1">
            <div class="col-md-6">

                <span style="font-weight: bold;">{{'Asset.AssetName' | translate }} :
                </span>&nbsp; {{lang == 'en' ? requestDetailObj.assetName:requestDetailObj.assetNameAr}} -
                {{requestDetailObj.serialNumber}}
            </div>
            <div class="col-md-6">

                <span style="font-weight: bold;">{{'Asset.Code' | translate }} :
                </span>&nbsp;
                {{requestDetailObj.assetCode}}
            </div>
        </div>
        <div class="row  p-1">
            <div class="col-md-6" *ngIf="requestDetailObj.problemNameAr !== '' || requestDetailObj.problemName !== ''">
                <span style="font-weight: bold;">{{'Asset.Problem' | translate }} :
                </span>&nbsp;{{lang == 'en' ? requestDetailObj.problemName:requestDetailObj.problemNameAr}}
            </div>
            <div class="col-md-6"
                *ngIf="requestDetailObj.subProblemName != '' || requestDetailObj.subProblemNameAr != ''">
                <span style="font-weight: bold;">{{'Asset.SubProblem' | translate }} :
                </span>&nbsp;{{lang == 'en' ? requestDetailObj.subProblemName:requestDetailObj.subProblemNameAr}}
            </div>
        </div>
        <div class="row  p-1">
            <div class="col-md-6">
                <span style="font-weight: bold;"> {{'Asset.Subject' | translate }} :
                </span>&nbsp;{{requestDetailObj.subject}}
            </div>
            <div class="col-md-6">
                <span style="font-weight: bold;">{{'Asset.Date' | translate }} :
                </span>&nbsp;{{requestDetailObj.requestDate | date:'dd-MM-yyyy HH:mm'}}
            </div>
        </div>
        <div class="row  p-1">
            <div class="col-md-4">
                <span style="font-weight: bold;">{{'Asset.Type' | translate }} :
                </span>&nbsp;{{lang == 'en' ? requestDetailObj.requestTypeName:requestDetailObj.requestTypeNameAr}}
            </div>
            <div class="col-md-4">
                <span style="font-weight: bold;"> {{'Asset.Mode' | translate }} :
                </span>&nbsp;
                {{lang == 'en' ? requestDetailObj.modeName:requestDetailObj.modeNameAr}}
            </div>
            <div class="col-md-4">
                <span style="font-weight: bold;">{{'Asset.Periority' | translate }} :
                </span>&nbsp;{{lang == 'en' ? requestDetailObj.periorityName:requestDetailObj.periorityNameAr}}
            </div>
        </div>
        <div class="row  p-1">
            <div class="col-md-12">
                <span style="font-weight: bold;"> {{'Asset.Description' | translate }} :
                </span>&nbsp;{{requestDetailObj.description}}
            </div>
        </div>
        <div class="row  p-1">
            <div class="col-md-12" *ngIf="requestDetailObj.lstWorkorderTracking.length != 0">
                <span style="font-weight: bold;"> {{'Asset.WONotes' | translate }} :
                </span>&nbsp;{{requestDetailObj.woNotes}}
            </div>
        </div>
    <div class="row  p-1">
        <div class="col-12">
            <mat-radio-group [(ngModel)]="selectedItem" (change)="onItemChange($event)" name="gcat" id="gcat">
                <mat-radio-button [value]="item" *ngFor="let item of lstRadioItems">
                    {{item}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    

    <div class="row  p-1" *ngIf="isAssigned">
        <div class="col-12">
                

                    <div class="row top-buffer">
                        <div class="col-12">
                            <label for="assignedTo">{{'Asset.AssignedTo' | translate }}</label>
                            <!-- <select id="assignedTo" class="form-control" name="assignedTo"
                                [(ngModel)]="creatWorkOrderTrackingObj.assignedTo" disabled="true"
                                pTooltip="{{'Asset.AssignedTo' | translate }}" tooltipPosition="bottom">
                                <option value="0">{{'Asset.Select' | translate }} {{'Asset.Eng' | translate }}
                                </option>
                                <option *ngFor="let eng of lstEngEmployees" [value]="eng.userId">
                                    {{eng.name}}
                                </option>
                            </select> -->
                            <input type="text" disabled id="assignedTo" class="form-control" name="assignedTo" [value]="WoCreatedByName">
                        </div>
                    </div>
                 

           
                    <div class="row  top-buffer">
                        <div class="p-field col-md-12">
                            <label for="description">{{'Asset.Description' | translate }}</label>
                            <textarea class="form-control" id="Note" [(ngModel)]="creatWorkOrderTrackingObj.notes" [placeholder]="'Asset.Notes' | translate"
                                pInputTextarea name="Note" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>

                    </div>

                  

    

                    <!-- <div class="row">
                        <div class="col-12">

                            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)"
                                style="display:none;">

                            <button type="button" class="btn btn-outline-success"
                                style="margin-top: 20px;margin-left: 10px;" (click)="file.click()"> <i
                                    class="fa fa-upload"
                                    style="color: #61bb20; cursor: pointer;margin: 0px 5px;"></i>{{'Asset.SelectDocument'
                                |
                                translate }}
                            </button>
                           
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{'Asset.Name' | translate }}</th>
                                        <th>{{'Asset.DocumentTitle' | translate }}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of lstCreateRequestDocument">
                                        <td>{{i.fileName}}</td>
                                        <td>{{i.documentName}}</td>
                                        <td>
                                            <span (click)="removeFileFromObjectArray(i)"><i class="fa-solid fa-times-circle"
                                                    style="color: rgb(123, 9, 9);"></i></span>
                                        </td>
                                    </tr>

                                    <tr *ngIf="lstCreateRequestDocument.length == 0">
                                        <td colspan="3" style="color: rgb(102, 97, 23);" [translate]="'Asset.NoData'">
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        </div> -->
                    <!-- </div> -->
                    <div class="row mt-2">
                        <div class="col-2">
                            <input type="file" multiple #file  (change)="uploadMultipleFile($event)"
                              style="display: none;">
                              <div type="button" name="btnUpload" class="addbutton" style="margin:0px 10px;border: none;" (click)="file.click()">
                                <i class="pi pi-upload"></i> {{'Asset.SelectUploadFiles' |translate }}
                              </div>
                            
                          </div>
                    </div>
                    <div class="row mt-1 p-1">
                        <div class="col-12">
                            <p-table class="table"      [paginator]="true"
                            [rows]="3"[totalRecords]="lstCreateRequestDocument.length" [rowHover]="true" dataKey="id"    [value]="lstCreateRequestDocument" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines" responsiveLayout="scroll"
                            [paginator]="true">
                            <ng-template pTemplate="header">
                                    <tr>
                                        <th class="text-center">{{'Asset.Name' | translate }}</th>
                                        <th class="text-center">{{'Asset.DocumentTitle' | translate }}</th>
                                        <th>{{'Asset.Delete' | translate}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex" let-editing="editing">
                                    <tr >
                                        <td class="text-center">{{item.fileName}}</td>
                                        <td class="text-center" [pEditableColumn]="item.documentName" pEditableColumnField="documentName"
                                        [pEditableColumnRowIndex]="rowIndex">
                                        <p-cellEditor>
                                          <ng-template pTemplate="input">
                                            <input pInputText [(ngModel)]="item.documentName"
                                              [ngModelOptions]="{standalone: true}" />
                                          </ng-template>
                                          <ng-template pTemplate="output">
                                            {{item.documentName}}
                                          </ng-template>
                                        </p-cellEditor>
                                      </td>
                                        <td class="text-center">
                                            <span class="deleteIcon" (click)="removeFileFromObjectArray(rowIndex)"><i class="pi pi-trash" style="color: red" pTooltip="{{'Asset.Delete' | translate}}"></i></span>
                                        </td>
                                    </tr>
                             
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                      <td colspan="200" class="text-center"> {{'Asset.NoDataAvailable' | translate }}</td>
                                    </tr>
                                  </ng-template>
                            </p-table>
                        </div>
                    </div>
           
        </div>
        </div>
    
 
    <div class="row mt-1 d-flex justify-content-center">
        <div class="col-2"  (click)="Save()" >
            <a  class="addbutton">{{'Asset.Save' | translate }}</a>
        </div>
    </div>


<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{ width: '350px' }">
    <p-header style="color: rgb(181, 4, 4)"> {{ 'Asset.Error' | translate }} </p-header>
    <span style="color: rgb(181, 4, 4); font-weight: bold">
        {{ errorMessage }}</span>
</p-dialog>