<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!-- <script>
    $(document).ready(function () {
        $('.button-left').click(function () {
            $('.sidebar').toggleClass('fliph');
        });
    });
</script> -->

<!--===================  Header  =======================-->
<header class="header">
    <nav class="navbar navbar-toggleable-md navbar-light row ">
   
        <div class="col-2  text-center"> <img src="../../../assets/images/logoH.png" width="176" height="55"></div>
        <div [ngClass]="translate.currentLang === 'en' ? 'ul' :'ular' " class="col-5 d-flex flex-row">
            <div *ngFor="let breadcrumb of (breadcrumbs$ | async)">
                <span [href]="breadcrumb.url">
                    <i *ngIf="lang=='en'" class="pi pi-chevron-right"></i>
                    <i *ngIf="lang=='ar'" class="pi pi-chevron-right"></i>
                    {{ breadcrumb.label | translate}} &nbsp;&nbsp;</span>
            </div>
        </div>







        <div class="col-1"></div>
        <div class="col-1">
            <li class="nav-item dropdown">
               
           
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                        <i class="pi pi-envelope" style="font-size: 1.5rem; color: green;" pBadge value="9"></i>
                    </a>
                    <div class="dropdown-content">
                        <a class="dropdown-item" href="#">Message 1</a>
                        <a class="dropdown-item" href="#">Message 2</a>
                    </div>
              
                </li>
        </div>
<div class="col-1">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                <i class="pi pi-bell"  style="font-size: 1.5rem;color: green;" pBadge value="23"></i>
   

            </a>
            <div class="dropdown-content">
                <a class="dropdown-item">Message 1</a>
                <a class="dropdown-item">Message 2</a>
           
            </div>
        </li>
    </ul>
</div>
<div class="col-2">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                <img src="../../../assets/images/MHP.png" class="user-image" alt="User Image">
                <span>{{userName}}</span>
            </a>
            <div class="dropdown-content">
                <li class="dropdown-item" *ngIf="translate.currentLang ==='en'" (click)="selectLanguage('ar')">
                    {{ "Asset.Language" | translate }}</li>
                <li class="dropdown-item" *ngIf="translate.currentLang ==='ar'" (click)="selectLanguage('en')">
                    {{ "Asset.Language" | translate }}
                </li>
                <li class="dropdown-item" (click)="forgetPassword()">{{'Asset.ForgetPassword' | translate}}</li>
                <div class="dropdown-divider"></div>

                <li class="dropdown-item" (click)="logout()">{{ "Asset.Logout" | translate }}</li>
            </div>
        </li>
    </ul>
</div>  
    </nav>

</header>
<div class="col row">
    <div class="col-2">
        <div class="main">

            <div>
                <aside>
                    <div class="sidebar left bg-light">
                        <hr *ngIf="!isAdmin">
                        <h4 class="text-center">{{ hospitalName }}</h4>
                        <hr *ngIf="!isAdmin">
                        <ul class="nav flex-column bg-light">
                            <li class="nav-item">
                                <a class="nav-link text-truncate" [routerLinkActive]="['active']" [routerLink]="['/dash/dashboard']" *ngIf="isDashboard">
                                    <i class="pi pi-home"></i> {{'Asset.DashBoard' | translate }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-truncate" href="#" data-bs-toggle="collapse" data-bs-target="#org" aria-expanded="false" aria-controls="org" *ngIf="isAdmin"  (click)="toggleCollapse('org')" >
                                    <i class="pi pi-sitemap"></i> {{'Asset.heirarchicalstructure' | translate }}
                                    <i class="pi pi-chevron-right float-end" [ngClass]="{'rotate-180': isCollapsed('org'), 'rotate-0': !isCollapsed('org')}"></i>
                                </a>
                                <ul class="collapse" id="org">
                                    <li class="nav-item">
                                        <a class="nav-link text-truncate" [routerLinkActive]="['active']" [routerLink]="['/dash/governorates']">
                                            <i class="pi pi-flag-fill"></i> {{'Asset.Governorates' | translate }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-truncate" [routerLinkActive]="['active']" [routerLink]="['/dash/organizations']">
                                            <i class="pi pi-sitemap"></i> {{'Asset.Organizations' | translate }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-truncate" [routerLinkActive]="['active']" [routerLink]="['/dash/hospitals']">
                                            <i class="pi pi-warehouse"></i> {{'Asset.Hospitals' | translate }}
                                        </a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link text-truncate" [routerLinkActive]="['active']" [routerLink]="['/dash/buildings']">
                                            <i class="pi pi-building"></i> {{'Asset.Buildings' | translate }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-truncate" [routerLinkActive]="['active']" [routerLink]="['/dash/departments']">
                                            <i class="pi pi-sitemap"></i> {{'Asset.Departments' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li> <a class="text-truncate" href="#" data-bs-toggle="collapse" data-bs-target="#assets" (click)="toggleCollapse('assets')"
                                class="collapsed active" *ngIf="isHospitalAsset || isAdmin">

                                <i class="pi pi-building"></i>{{'Asset.Assets' | translate }} 
                                <i class="pi pi-chevron-right float-end" [ngClass]="{'rotate-180': isCollapsed('assets'), 'rotate-0': !isCollapsed('assets')}"></i>
                                <!-- <span *ngIf="lang=='en'" class="pi pi-chevron-down float-end pull-right"></span>
                                <span *ngIf="lang=='ar'" class="pi pi-chevron-down pull-left"></span> -->
                            </a>
                            <ul class="collapse" id="assets">
                                <li class="active"><a class="text-truncate" [routerLinkActive]="['active']"
                                        [routerLink]="['/dash/assets']" *ngIf="isMasterAsset || isAdmin || isHospitalManager"><i class="pi pi-building-columns"></i>  
                                        {{
                                        'Asset.MasterAssets' | translate }}</a></li>
                                <li><a class="text-truncate" [routerLinkActive]="['active']"
                                        [routerLink]="['/dash/hospitalassets']" *ngIf="isHospitalAsset"><i class="pi pi-building"></i>  {{
                                        'Asset.HospitalAssets' | translate }}</a> </li>
                                <li><a class="text-truncate" [routerLinkActive]="['active']"
                                        [routerLink]="['/dash/AssetStatus']" *ngIf="isAdmin"><i class="pi pi-chart-line"></i> {{
                                        'Asset.AssetStatus' | translate }}</a></li>
                                <li><a class="text-truncate" [routerLinkActive]="['active']"
                                        [routerLink]="['/dash/origins']" *ngIf="isAdmin"><i class="pi pi-globe"></i>
                                        {{'Asset.Origins' |
                                        translate }}</a></li>
                                <li><a class="text-truncate" [routerLinkActive]="['active']"
                                        [routerLink]="['/dash/brands']" *ngIf="isAdmin"><i class="pi pi-briefcase"></i> {{
                                        'Asset.Brands' |
                                        translate }}</a></li>
                                <li><a class="text-truncate" [routerLinkActive]="['active']"
                                        [routerLink]="['/dash/suppliers']" *ngIf="isAdmin"><i class="pi-warehouse"></i> {{
                                        'Asset.Suppliers' | translate }}</a></li>
                                <li><a class="text-truncate" [routerLinkActive]="['active']"
                                        [routerLink]="['/dash/categories']" *ngIf="isAdmin"><i class="pi pi-bars"></i> {{
                                        'Asset.Categories' | translate }}</a></li>
                            </ul>
                        </li>


                        <li> <a class="text-truncate" href="#" data-bs-toggle="collapse" data-bs-target="#settings"
                            class="collapsed active" *ngIf="isAdmin"> <span class="nav-label"><i class="pi pi-cog"></i> {{
                                'Asset.Settings' | translate }}</span>
                             <i class="pi pi-chevron-right float-end" [ngClass]="{'rotate-180': isCollapsed('settings'), 'rotate-0': !isCollapsed('settings')}"></i>
                          </a>
                        <ul class="collapse" id="settings">
                            <li><a class="text-truncate" [routerLinkActive]="['active']"
                                    [routerLink]="['/dash/rolecategories']"><i class="pi pi-th-large"></i>
                                    {{'Asset.RoleCategories' | translate }}</a>
                            </li>
                            <li><a class="text-truncate" [routerLinkActive]="['active']"
                                    [routerLink]="['/dash/roles']"><i class="pi pi-align-justify"></i> {{
                                    'Asset.Roles' |
                                    translate }}</a></li>
                            <li><a class="text-truncate" [routerLinkActive]="['active']"
                                    [routerLink]="['/dash/users']"><i class="pi pi-user"></i> {{
                                    'Asset.Users'
                                    |
                                    translate
                                    }}</a></li>
                            <li><a class="text-truncate" [routerLinkActive]="['active']"
                                    [routerLink]="['/dash/employees']"><i class="pi pi-briefcase"></i> {{
                                    'Asset.Employees' |
                                    translate }}</a></li>
                            <li><a class="text-truncate" [routerLinkActive]="['active']"
                                    [routerLink]="['/dash/Classifications']"><i class="pi pi-sliders-h"></i> {{
                                    'Asset.Classification' | translate }}</a>
                            </li>
                            <li><a class="text-truncate" [routerLinkActive]="['active']"
                                    [routerLink]="['/dash/ecris']"><i class="pi pi-book"></i> {{
                                    'Asset.ECRIS' | translate }}</a></li>
                            <li> <a class="text-truncate" [routerLinkActive]="['active']"
                                    [routerLink]="['/dash/visits']" *ngIf="isVisitEngineer"><i class="pi pi-car"></i>
                                    <span class="nav-label"> {{'Asset.Visits' | translate}}</span> </a></li>
                            <li> <a class="text-truncate" [routerLinkActive]="['active']"
                                    [routerLink]="['/dash/engineers']" *ngIf="isVisitEngineerManager"><i class="pi pi-lightbulb"></i>
                                    <span class="nav-label"> {{'Asset.Engineers' | translate}}</span> </a></li>
                        </ul>
                    </li>



                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="col-10 ">
        <div class="page">
            <router-outlet> </router-outlet>
        </div>
        <footer class="text-center"> Copyright © 2023 by Al-Mostakbal Technology, All Rights Reserved</footer>
    </div>
</div>