<header class="header mb-3">
    <nav class="navbar navbar-toggleable-md navbar-light row ">
   
        <div class="col-2  text-center"> <img src="../../../assets/images/logoH.png" width="176" height="55"></div>
        <div [ngClass]="translate.currentLang === 'en' ? 'ul' :'ular' " class="col-5 d-flex flex-row">
            <div *ngFor="let breadcrumb of breadcrumbs$">
                <span [href]="breadcrumb.url">
                    <i *ngIf="lang=='en'" class="pi pi-chevron-right"></i>
                    <i *ngIf="lang=='ar'" class="pi pi-chevron-right"></i>
                    {{ breadcrumb.label | translate}} &nbsp;&nbsp;</span>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                        <i class="pi pi-envelope" style="font-size: 1.5rem; color: green;" pBadge value="9"></i>
                    </a>
                    <div class="dropdown-content">
                        <a class="dropdown-item" href="#">Message 1</a>
                        <a class="dropdown-item" href="#">Message 2</a>
                    </div>
                </li>
        </div>
<div class="col-1">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                <i class="pi pi-bell"  style="font-size: 1.5rem;color: green;" pBadge value="23"></i>
            </a>
            <div class="dropdown-content">
                <a class="dropdown-item">Message 1</a>
                <a class="dropdown-item">Message 2</a>
           
            </div>
        </li>
    </ul>
</div>
<div class="col-2">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                <img src="../../../assets/images/MHP.png" class="user-image" alt="User Image">
                <span>{{lang=='en'?this.currentUser.userName:this.currentUser.userName}}</span>
            </a>
            <div class="dropdown-content">
                <li class="dropdown-item" *ngIf="translate.currentLang ==='en'" (click)="selectLanguage('ar')">
                    {{ "Asset.Language" | translate }}</li>
                <li class="dropdown-item" *ngIf="translate.currentLang ==='ar'" (click)="selectLanguage('en')">
                    {{ "Asset.Language" | translate }}
                </li>
                <li class="dropdown-item" (click)="forgetPassword()">{{'Asset.ForgetPassword' | translate}}</li>
                <div class="dropdown-divider"></div>

                <li class="dropdown-item" (click)="logout()">{{ "Asset.Logout" | translate }}</li>
            </div>
        </li>
    </ul>
</div>  
    </nav>

</header>
<div class="col row ">
    <div class="col-2">
        <div class="main">
                <aside >
                    <ul>
                        <li style="list-style-type: none; padding: 2px;" *ngFor="let section of SectionModulePermisisons" class="nav-item">
                            <span class="text-truncate" [routerLink]="section.sectionName=='Dashboard' ? ['/dash/dashboard'] : null" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + section.sectionName" class="collapsed active">
                                <span class="nav-label" style="font-size: 19px; cursor: pointer;">
                                    <i [class]="section.icon"></i>
                                    {{ lang == 'en' ? section.sectionName : section.sectionNameAr }}
                                </span>
                            </span>
                            <ul class="collapse" [id]="section.sectionName">
                                <li style="list-style-type: none; padding: 2px;" *ngFor="let module of section.moduleWithPermissionNames" class="nav-item">
                                    <span class="text-truncate" style="font-size: 17px; cursor: pointer;" [routerLinkActive]="['active']" [routerLink]="['/dash/' + module.route]">
                                        <i [class]="module.icon"></i>
                                        {{ lang == 'en' ? module.moduleName : module.moduleNameAr }}
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside>
        </div>
    </div>
    <div class="col-10 ">
        <div class="page">
            <router-outlet> </router-outlet>
        </div>
        <footer class="text-center"> Copyright © 2023 by Al-Mostakbal Technology, All Rights Reserved</footer>
    </div>
</div>