<div class="col-12" [dir]="textDir">
    <form #EditAssetForm="ngForm">
        <mat-tab-group mat-align-tabs="start" #tabGroup>
            <mat-tab >
              <ng-template mat-tab-label>
                <span style="color: black;font-weight: bold;"><i class="pi pi-database" style="margin: 0px 20px;"></i>
                  {{ 'Asset.Identification' | translate }}</span>
    
              </ng-template>
              <div class="container mt-5">
                  <div class="row">
                    <div class="col-2">
                      <h5 for="Main">{{ "Asset.Main" | translate }}:</h5>
                    </div>
                    <div class="col-2">
                      <label for="code" >{{'Asset.Code' | translate}}</label>
                      <input type="text" class="form-control" id="code" name="code" #code="ngModel"
                        [(ngModel)]="masterAssetObj.code" disabled />
                    </div>
                    <div class="col-2">
                      <label for="name" >{{'Asset.Name' | translate}}</label>
                      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="masterAssetObj.name"
                        #name="ngModel" [class.is-invalid]=" (name.touched && name.errors)" 
                        autofocus required />
                    </div>
                    <div class="col-2">
                      <label for="name" >{{'Asset.ArabicName' | translate}}</label>
                      <input type="text" class="form-control" id="nameAr" name="nameAr" #nameAr="ngModel"
                        [(ngModel)]="masterAssetObj.nameAr" autofocus required [class.is-invalid]="  nameAr.errors" />
                    </div>
                    <div class="col-2">
                      <label for="ecriId" >{{'Asset.ECRI' | translate}}</label>
                      <select class="form-select" id="ecriId" name="ecriId" #ecriId="ngModel"  
                        [(ngModel)]="masterAssetObj.ecriId">
                        <option selected [value]="null">{{ "Asset.Select" | translate }}</option>
                        <option *ngFor="let ecri of lstECRIs" [value]="ecri.id">
                          {{ lang == "en" ? ecri.name : ecri.nameAr }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
            <div class="container mt-4">          
            <div class="row">
                <div class="col-2"></div>
                <div class="col-2">
                  <select class="form-select" id="categorytype" name="categorytype"
                    (change)="GetCategoriesByCategoryTypeId($event)">
                    <option>{{ "Asset.Type" | translate }}</option>
                    <option *ngFor="let item of lstTypes" [value]="item.id">
                      {{ lang == "en" ? item.name : item.nameAr }}
                    </option>
                  </select>
                </div>
                <div class="col-2">
                  <select class="form-select" id="category" name="category" #category="ngModel" [value]="null"
                    [(ngModel)]="masterAssetObj.categoryId" (change)="GetSubCategoryByCategoryId($event)">
                    <option value="null">{{ "Asset.Category" | translate }}</option>
                    <option *ngFor="let cat of lstCategories" [value]="cat.id">
                      {{ lang == "en" ? cat.name : cat.nameAr }}
                    </option>
                  </select>
                </div>
                <div class="col-2">
                  <select class="form-select" id="subCategory" name="subCategory" #subCategory="ngModel" [value]="null"
                    [(ngModel)]="masterAssetObj.subCategoryId">
                    <option value="null">{{ "Asset.SubCategory" | translate }}</option>
                    <option *ngFor="let sub of lstSubCategories" [value]="sub.id">
                      {{ lang == "en" ? sub.name : sub.nameAr }}
                    </option>
                  </select>
                </div>
                <div class="col-2 ">
      
                  <div class="justify-content-center ">
                    <label for="upFile" class="btn btn-secondary"> {{ "Asset.AssetImage" | translate }}
                      <i class="pi pi-upload"></i>
                    </label>
                  </div>
                  <input id="upFile" type="file" class="file-input" style="visibility:hidden;"
                    (change)="onFileSelected($event)" #fileUpload />
                </div>
                <div class="col-2 mt-n5 text-center">
                  <img src="{{imagePath}}" width="80" height="80" [hidden]="imgVisible" />
      
                  <button type="button" class="btn reset" (click)="resetFile()" [hidden]="btnHidden">
                    <i  class="pi pi-times-circle" pTooltip="{{'Asset.Delete' | translate}}"></i>
                  </button>
                </div>
              </div>
              </div>
              <div class="container">
              <div class="row top-buffer">
                <div class="col-2"> </div>
                <div class="col-4">
                  <textarea type="text" class="form-control" id="description" name="description"
                    [(ngModel)]="masterAssetObj.description" #description="ngModel"
                    placeholder="{{'Asset.Description' | translate}}"></textarea>
                </div>
                <div class="col-4">
                  <textarea type="text" class="form-control" id="descriptionAr" name="descriptionAr" #descriptionAr="ngModel"
                    [(ngModel)]="masterAssetObj.descriptionAr"
                    placeholder="{{'Asset.ArabicDescription' | translate}}"></textarea>
                </div>
              </div> 
              </div>
              <div class="container mt-4">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-2">
                      <h5 for="IndustryData">{{ "Asset.IndustryData" | translate }}:</h5>
                    </div>
                    <div [ngClass]=" canAddBrand == true ? 'col-1': 'col-2'">
                      <select class="form-select" id="brandId" #brandId="ngModel" name="brandId" [(ngModel)]="masterAssetObj.brandId"   (ngModelChange)="validateBrand()" [ngClass]="{'is-invalid': isInvalidBrand}"
                        >
                        <option selected [ngValue]="null">{{ "Asset.Brand" | translate }}</option>
                        <option *ngFor="let brand of lstBrands" [value]="brand.id">
                          {{ lang == "en" ? brand.name : brand.nameAr }}
                        </option>
                      </select>
                    </div>
                
                      <div [ngClass]=" canAddBrand == true ? 'col-1': ''"
                      *ngIf="(isHospitalManager && canAddBrand)" style="margin-top: 25px;">
                      <span (click)="addBrand()">
                        <i pTooltip="{{'Asset.AddBrand'|translate}}"  class="pi pi-plus-circle add" style="margin-top: 30px;"></i>
                      </span>
                    </div>
         
                    <div class="col-2">
                      <select class="form-select" id="origin" #origin="ngModel" name="origin"
                        [(ngModel)]="masterAssetObj.originId">
                        <option selected value="null">{{ "Asset.Origin" | translate }} </option>
                        <option *ngFor="let orgn of lstOrigins" [value]="orgn.id">
                          {{ orgn.code }} - {{ lang == "en" ? orgn.name : orgn.nameAr }}
                        </option>
                      </select>
                    </div>
                    <div class="col-2">
                      <input type="text" pInputText id="versionNumber" class="form-control"
                        [ngModelOptions]="{ standalone: true }" [(ngModel)]="masterAssetObj.versionNumber"
                        placeholder="{{'Asset.Version' | translate}}" />
                    </div>
                    <div class="col-2">
                      <input type="text" pInputText id="modelNumber" class="form-control"
                        [ngModelOptions]="{ standalone: true }" [(ngModel)]="masterAssetObj.modelNumber"
                        placeholder="{{'Asset.Model' | translate}}" />
                    </div>
                    <div class="col-2">
                      <input type="number" pInputText id="ExpectedLifeTime" [ngModelOptions]="{ standalone: true }"
                        class="form-control" [(ngModel)]="masterAssetObj.expectedLifeTime"
                        placeholder="{{'Asset.ExpectedLifeTime' | translate}}" />
                    </div>
                  </div>
                </div>
              </div> 
              </div>
      
              <div class="container mt-4">
              <div class="row ">
                <div class="col-12">
                  <div class="row">
                    <div class="col-2">
                      <h5 for="Technical">{{ "Asset.Technical" | translate }}:</h5>
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" id="power" name="power" [(ngModel)]="masterAssetObj.power"
                        #power="ngModel" placeholder="{{'Asset.Power' | translate}} ({{'Asset.PowerUnit' | translate}})" />
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" id="voltage" name="voltage" [(ngModel)]="masterAssetObj.voltage"
                        #voltage="ngModel"
                        placeholder="{{'Asset.Voltage' | translate}} ({{'Asset.VoltageUnit' | translate}})" />
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" id="ampair" name="ampair" [(ngModel)]="masterAssetObj.ampair"
                        #ampair="ngModel" placeholder="{{'Asset.Ampair' | translate}} ({{'Asset.AmpairUnit' | translate}})" />
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" id="frequency" name="frequency"
                        [(ngModel)]="masterAssetObj.frequency" #frequency="ngModel"
                        placeholder="{{'Asset.Frequency' | translate}} ({{'Asset.FrequencyUnit' | translate}})" />
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" id="electricRequirement" name="electricRequirement"
                        [(ngModel)]="masterAssetObj.electricRequirement" #electricRequirement="ngModel"
                        placeholder="{{'Asset.ElectricRequirement' | translate}}" />
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="container mt-4">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-2">
                      <h5 for="Physical">{{ "Asset.Physical" | translate }}:</h5>
                    </div>
                    <div class="col-2">
                      <input type="number" class="form-control" id="height" name="height" [(ngModel)]="masterAssetObj.height"
                        #height="ngModel" placeholder="{{'Asset.Height' | translate}}" />
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" id="width" name="width" #width="ngModel"
                        [(ngModel)]="masterAssetObj.width" placeholder="{{'Asset.Width' | translate}}" />
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" id="length" name="length" [(ngModel)]="masterAssetObj.length"
                        #length="ngModel" placeholder="{{'Asset.Length' | translate}}" />
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" id="weight" name="weight" #weight="ngModel"
                        [(ngModel)]="masterAssetObj.weight" placeholder="{{'Asset.Weight' | translate}}" />
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="container mt-4">
              <div class="row">
                <div class="col-2">
                  <h5 for="priority">{{ "Asset.Periority" | translate }}:</h5>
                </div>
                <div class="col-10">
                  <div class="radio-group">
                    <div *ngFor="let item of lstPeriorities; let i = index">
                      <p-radioButton
                        [inputId]="'priority' + i"
                        name="pizza"
                        [value]="item.id"
                        [(ngModel)]="radioPerioritySelected"
                        (change)="getSelecteditem()">
                      </p-radioButton>
                      <label [for]="'priority' + i" class="ml-2">
                        {{ lang == 'en' ? item.name : item.nameAr }}
                      </label>
                    </div>
                  </div>
                        </div>
                </div> 
              </div> 
          
        
      
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span style="color: black;font-weight: bold;"><i class="pi pi-paperclip" style="margin: 0px 20px;"></i>
                  {{ 'Asset.Attachments' | translate }}</span>
              </ng-template>
              <div class="container mt-4">
              <div class="row ">
                <div class="col-3 mt-3">
                  <input type="file" multiple #file placeholder="Choose file" (change)="uploadMultipleFile($event)"
                    style="display: none;">
                  <button type="button" name="btnUpload" class="btn btnUpload" style="margin:0px 10px" (click)="file.click()">
                    <i class="pi pi-upload"></i> {{'Asset.SelectUploadFiles' |translate }}
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-3">
                  <div style="font-size: 1rem;" class="mb-3">    <i class="pi pi-paperclip"></i>
                    {{ 'Asset.AddNewDocuments' | translate }}</div>
                    <p-table    [paginator]="true"
                    [rows]="5"[totalRecords]="lstMasterAssetDocuments.length" [value]="lstMasterAssetDocuments" dataKey="id">
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="text-center">{{ 'Asset.FileName' | translate }}</th>
                          <th class="text-center">{{ 'Asset.Title' | translate }}</th>
                          <th class="text-center">{{ 'Asset.Delete' | translate }}</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-masterAssetDocument let-rowIndex="rowIndex" let-editing="editing">
                        <tr>
                          <td class="text-center">{{masterAssetDocument.fileName}}</td>
                          <td class="text-center" [pEditableColumn]="masterAssetDocument.title" pEditableColumnField="title"
                            [pEditableColumnRowIndex]="rowIndex">
                            <p-cellEditor>
                              <ng-template pTemplate="input">
                                <input pInputText [(ngModel)]="masterAssetDocument.title"
                                  [ngModelOptions]="{standalone: true}" />
                              </ng-template>
                              <ng-template pTemplate="output">
                                {{masterAssetDocument.title}}
                              </ng-template>
                            </p-cellEditor>
                          </td>
                          <td class="text-center">
                            <span (click)="removeFileFromObjectArray(rowIndex)"><i pTooltip="{{'Asset.Delete'| translate}}" class="pi pi-trash deleteIcon" style="color: red;font-size: 1rem;"></i></span>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="3" class="text-center">No data available</td>
                        </tr>
                      </ng-template>
                    </p-table>
                    <div style="font-size: 1rem;" style="margin: 20px 0px;">    <i class="pi pi-paperclip"></i>
                      {{ 'Asset.SavedDocuments' | translate }}</div>
                    <p-table   [paginator]="true"
                    [rows]="5"[totalRecords]="lstAttachment.length" [value]="lstAttachment" dataKey="id">
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="text-center">{{ 'Asset.FileName' | translate }}</th>
                          <th class="text-center">{{ 'Asset.Title' | translate }}</th>
                          <th style="text-align: center;" [translate]="'Asset.Download'"> {{'Asset.Download' | translate }}</th>
                          <th style="text-align: center;" [translate]="'Asset.Delete'"> {{'Asset.Delete' | translate }}</th>                                                
                        </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-masterAssetDocument let-rowIndex="rowIndex">
                          <tr>
                            <td class="text-center">{{masterAssetDocument.fileName}}</td>
                            <td class="text-center"> {{masterAssetDocument.title}}</td>
                            <td class="text-center" (click)="downloadFile(masterAssetDocument.fileName)"><i pTooltip="{{'Asset.Download' | translate}}"class="pi pi-download viewIcon" style="color: #61bb20;font-size: 1rem;"></i></td> 
                            <td style="cursor: pointer;text-align: center;"><span (click)="DeleteFile(masterAssetDocument,rowIndex)"><i pTooltip="{{'Asset.Delete'| translate}}" class="pi pi-trash deleteIcon" style="color: red;font-size: 1rem;"></i></span></td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                          <tr>
                            <td colspan="5" class="text-center">No data available</td>
                          </tr>
                        </ng-template>
                      </p-table> 
                </div>
              </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span style="color: black;font-weight: bold;"><i class="pi pi-wrench" style="margin: 0px 20px;"></i>
                  {{ 'Asset.PreventiveMaintainance' | translate }}</span>
   
              </ng-template>
              <div class="container mt-4">
              <div class="row">
                <div class="col-12">
                  <label for="pmtime" [translate]="'Asset.PMTime'"></label>
                  <mat-radio-group [(ngModel)]="selectedPMTime" (change)="onTimeChange($event)" name="gcat" id="gcat"
                    [ngModelOptions]="{standalone: true}">
                    <mat-radio-button [value]="item.id" *ngFor="let item of lstPMTimes">
                      {{ lang == "en" ? item.name : item.nameAr }}
                    </mat-radio-button>
                  </mat-radio-group>
      
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-5">
      
                  <label> {{ "Asset.Name" | translate }}</label>
                  <input class="form-control mt-2" #taskname="ngModel" [(ngModel)]="pmTaskObj.taskname"   [class.is-invalid]="pmTaskObj.taskname==''" 
                    [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-5">
      
      
                  <label> {{ "Asset.ArabicName" | translate }}</label>
                  <input class="form-control mt-2" #tasknameAr="ngModel" [(ngModel)]="pmTaskObj.tasknameAr" [class.is-invalid]="pmTaskObj.tasknameAr==''"
                    [ngModelOptions]="{standalone: true}">
                </div>
      
                <div class="col-2 mt-2">
                  <span (click)="addTaskToList()" matTooltip="Add">
                    <i class="pi pi-plus-circle add " style="margin-top:30px;"></i>
                  </span>
                </div>
              </div>
              
          
              <div class="row mt-3">
                <div class="col-12">
                  <div style="font-size: 1rem;" class="mt-3">    <i class="pi pi-wrench"></i>
                    {{ 'Asset.AddPreventiveMaintenance' | translate }}</div>
                  <p-table    [paginator]="true"
                  [rows]="3"[totalRecords]="CreatelstPMTasks.length" [value]="CreatelstPMTasks" dataKey="id">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="text-center">{{ "Asset.Name" | translate }}</th>
                        <th class="text-center">{{ "Asset.ArabicName" | translate }}</th>
                        <th class="text-center">{{ 'Asset.Delete' | translate }}</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-task let-rowIndex="rowIndex">
                      <tr>
                        <td class="text-center">{{ task.taskname}}</td>
                        <td class="text-center">{{ task.tasknameAr}}</td>
                      
                        <td class="text-center">
                          <span (click)="removeFromCreatelstPMTasks(rowIndex)"><i class="pi pi-trash deleteIcon" style="color: red;font-size: 1rem;"pTooltip="{{'Asset.Delete' | translate}}"></i></span>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="3" class="text-center">No data available</td>
                      </tr>
                    </ng-template>
                  </p-table>
                  <div style="font-size: 1rem;" style="margin: 20px 0px;">    <i class="pi pi-wrench"></i>
                    {{ 'Asset.SavedPreventiveMaintenance' | translate }}</div>
                  <p-table    [paginator]="true"
                  [rows]="3"[totalRecords]="SavedlstPMTaskItems.length" [value]="SavedlstPMTaskItems" dataKey="id">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="text-center">{{ "Asset.Name" | translate }}</th>
                        <th class="text-center">{{ "Asset.ArabicName" | translate }}</th>
                        <th class="text-center">{{ 'Asset.Delete' | translate }}</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-task let-rowIndex="rowIndex">
                      <tr>
                        <td class="text-center">{{ task. name}}</td>
                        <td class="text-center">{{ task.nameAr}}</td>
                      
                        <td class="text-center">
                          <span (click)="DeletePreventiveMaintenance(task.id,rowIndex)"><i class="pi pi-trash deleteIcon" style="color: red;font-size: 1rem;"pTooltip="{{'Asset.Delete' | translate}}"></i></span>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="3" class="text-center">No data available</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
              </div>
      
            </mat-tab>
      
      
            <mat-tab>
              <ng-template mat-tab-label>
                <span style="color: black;font-weight: bold;"><i class="pi pi-sitemap" style="margin: 0px 20px;"></i>
                  {{ 'Asset.Components' | translate }}</span>
              </ng-template>
              <div class="container">
              <div class="row top-buffer">
                <div class="col">
                  <label> {{ "Asset.Code" | translate }}</label>
                  <input class="form-control" #compCode="ngModel" [(ngModel)]="compObj.compCode"  required=""  type="text" maxlength="5" [ngClass]="{'is-invalid':compCode.invalid}"
                     [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col">
                  <label> {{ "Asset.Name" | translate }}</label>
                  <input class="form-control" #compname="ngModel" [(ngModel)]="compObj.compName"  [ngClass]="{'is-invalid': compObj.compName==''}"
                     [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col">
                  <label> {{ "Asset.ArabicName" | translate }}</label>
                  <input class="form-control" #compnameAr="ngModel" [(ngModel)]="compObj.compNameAr" [ngClass]="{'is-invalid': compObj.compNameAr==''}" 
                     [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              </div>
              <div class="container">
               <div class="row top-buffer">
                <div class="col">
                  <label> {{ "Asset.Price" | translate }}</label>
                  <input class="form-control" #price="ngModel" [(ngModel)]="compObj.price"
                   [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col">
                  <label> {{ "Asset.PartNo" | translate }}</label>
                  <input class="form-control" #partNo="ngModel" [(ngModel)]="compObj.partNo"
                   [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              </div>
              <div class="container">
             <div class="row top-buffer">
                <div class="col-6">
                  <label> {{ "Asset.Description" | translate }}</label>
                  <input class="form-control" #description="ngModel" [(ngModel)]="compObj.compDescription"
                    placeholder="{{'Asset.Description' |  translate}}" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-6">
                  <label> {{ "Asset.ArabicDescription" | translate }}</label>
                  <input class="form-control" #taskname="ngModel" [(ngModel)]="compObj.compDescriptionAr"
                    placeholder="{{'Asset.ArabicDescription' |  translate}}" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row top-buffer">  
                <div class="col">
                  <div (click)="addComponentToList()" >
                    <i class="pi pi-plus-circle add " style="margin-top:10px;"></i>  {{'Asset.AddComponent'
                    |translate}}
                  </div>
                  </div>
                </div>
             </div>
             
          
              <div class="container">
              <div class="row mt-3">
                <div class="col-12">
                  <div style="font-size: 1rem;" style="margin: 20px 0px;">    <i style="color: black;" class="pi pi-sitemap"></i>
                    {{ 'Asset.AddAssetCompoenet' | translate }}</div>
                  <p-table    [paginator]="true"
                  [rows]="2"[totalRecords]="CreateMasterAssetComponentVM.length" [value]="CreateMasterAssetComponentVM" dataKey="id">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="text-center">{{ "Asset.Code" | translate }}</th>
                        <th class="text-center">{{ "Asset.Name" | translate }}</th>
                        <th class="text-center">{{ "Asset.Price" | translate }}</th>
                        <th class="text-center">{{ "Asset.PartNo" | translate }}</th>
                        <th class="text-center">{{ "Asset.Description" | translate }}</th>
                        <th class="text-center">{{ 'Asset.Delete' | translate }}</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-Component let-rowIndex="rowIndex">
                      <tr>
                        <td class="text-center">{{Component.compCode}}</td>
                        <td class="text-center">{{lang=="en"? Component.name:Component.nameAr}}</td>
                        <td class="text-center">{{ Component.price }}</td>
                        <td class="text-center">{{ Component.partNo}}</td>
                        <td class="text-center">{{ lang=="en"? Component.compDescription :Component.compDescriptionAr}}</td>
                        <td class="text-center">
                          <span (click)="DeleteNewAssetComponent(Component,rowIndex)"><i class="pi pi-trash deleteIcon" style="color: red;font-size: 1rem;"pTooltip="{{'Asset.Delete' | translate}}"></i></span>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="6" class="text-center">No data available</td>
                      </tr>
                    </ng-template>
                  </p-table>
                  <div style="font-size: 1rem;" style="margin: 20px 0px;">    <i style="color: black;" class="pi pi-sitemap"></i>
                    {{ 'Asset.SavedAssetCompoenets' | translate }}</div>
                  <p-table    [paginator]="true"
                  [rows]="2"[totalRecords]="lstSavedComponents.length" [value]="lstSavedComponents" dataKey="id">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="text-center">{{ "Asset.Code" | translate }}</th>
                        <th class="text-center">{{ "Asset.Name" | translate }}</th>
                        <th class="text-center">{{ "Asset.Price" | translate }}</th>
                        <th class="text-center">{{ "Asset.PartNo" | translate }}</th>
                        <th class="text-center">{{ "Asset.Description" | translate }}</th>
                        <th class="text-center">{{ 'Asset.Delete' | translate }}</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-Component let-rowIndex="rowIndex">
                      <tr>
                        <td class="text-center">{{Component.code}}</td>
                        <td class="text-center">{{lang=="en"? Component.name:Component.nameAr}}</td>
                        <td class="text-center">{{ Component.price }}</td>
                        <td class="text-center">{{ Component.partNo}}</td>
                        <td class="text-center">{{ lang=="en"? Component.description:Component.descriptionAr}}</td>
                        <td class="text-center">
                          <span (click)="DeleteAssetComponent(Component,rowIndex)"><i class="pi pi-trash deleteIcon" style="color: red;font-size: 1rem;"pTooltip="{{'Asset.Delete' | translate}}"></i></span>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="6" class="text-center">No data available</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div> 
              </div>
        
      
            </mat-tab>
            
          </mat-tab-group>
  
        <div class="row mt-3 d-flex justify-content-center">
          <div class="col-2" (click)="onSubmit()">
            <a type="submit" class="addbutton">
              {{ "Asset.Save" | translate }}
            </a>
          </div>
        </div>
    </form>
</div>



<p-dialog appendTo="body" modal="true" [(visible)]="showSuccessfullyMessage">
  <ng-template pTemplate="header">
    <h6 style="color: #04527e; font-weight: bold; font-size: 16pt">
      {{ SuccessfullyHeader }}
    </h6>
  </ng-template>
  <span style="color: green; font-weight: bold; font-size: 12pt; text-align: center">{{ SuccessfullyMessage}}</span>
</p-dialog>
<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{ width: '350px' }">
    <p-header style="color: rgb(181, 4, 4)"> {{ 'Asset.Error' | translate }} </p-header>
    <span style="color: rgb(181, 4, 4); font-weight: bold">
        {{ errorMessage }}</span>
</p-dialog>

<p-confirmDialog />
