
.p-table .p-datatable-loading {
    background: rgba(255, 255, 255, 0.8); /* Optional: semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }