<div class="col-12 ">
 
    <div class=" row top-buffer p-3">
        <div class="col-2">
            <h4 class="card-title"> {{'Asset.MasterAssets' | translate }} </h4>
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
        </div>
        <div class="col-2">
            <a data-bs-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="filter" class="filterbutton">
                <i class="pi pi-filter-fill"></i>
                {{'Asset.Filter'|translate}}
              </a>
        </div>
        <div class="col-2" *ngIf="CanAdd()">
            <a class="addbutton"(click)="addMasterAsset()">
                <i class="pi pi-plus-circle"></i> {{'Asset.Create' | translate}}</a>
        </div>
    </div>
    <div class="top-buffer">
        <div class="col-12">
            <div class="collapse row card-filter" id="filter">
                <form (ngSubmit)="onSearch()" #searchForm="ngForm">
                    <div class="row">
                        <div class="col-2">
                            <label for="brandId" [translate]="'Asset.Brands'">Brands</label>
                            <select class="form-select" id="brandId" [ngModelOptions]="{standalone: true}"
                                name="brandId" [(ngModel)]="SearchSortMasterAsset.brandId" [value]="0">
                                <option value="0"> </option>
                                <option *ngFor="let brnd of lstBrands" [value]="brnd.id">
                                    {{ lang == "en" ? brnd.name : brnd.nameAr }}
                                </option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="orginId" [translate]="'Asset.Origins'">Origins</label>
                            <select class="form-select" id="orginId" [ngModelOptions]="{standalone: true}"
                                name="orginId" [(ngModel)]="SearchSortMasterAsset.originId" [value]="0">
                                <option value="0"></option>
                                <option *ngFor="let orgn of lstOrigins" [value]="orgn.id">
                                    {{ lang == "en" ? orgn.name : orgn.nameAr }}
                                </option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="orginId" [translate]="'Asset.Categories'"></label>
                            <select class="form-select" id="categoryId" name="categoryId" name="categoryId"
                                [(ngModel)]="SearchSortMasterAsset.categoryId" [value]="0"
                                (change)="GetSubCategoryByCategoryId($event)" [ngModelOptions]="{standalone: true}">
                                <option value="0"></option>
                                <option *ngFor="let cat of lstCategories" [value]="cat.id">
                                    {{ lang == "en" ? cat.name : cat.nameAr }}
                                </option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="subCategoryId" [translate]="'Asset.SubCategories'"></label>
                            <select class="form-select" id="subCategoryId" name="subCategoryId" name="subCategoryId"
                                [(ngModel)]="SearchSortMasterAsset.subCategoryId" [value]="0"
                                [ngModelOptions]="{standalone: true}">
                                <option value="0"> </option>
                                <option *ngFor="let sub of lstSubCategories" [value]="sub.id">
                                    {{ lang == "en" ? sub.name : sub.nameAr }}
                                </option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="assetName"> {{'Asset.AssetName' | translate}}</label>
                            <p-autoComplete #auto [(ngModel)]="SearchSortMasterAsset.assetName"
                                [suggestions]="lstMasterAssetNames" type="search" name="masterAssetId"
                                id="masterAssetId" (completeMethod)="onMasterAssetSelectionChanged($event)"
                                (onSelect)="getMasterAssetObject($event)" field="name"
                                [dropdown]="false" (onClear)="clearAutoCompelete($event)">
                                <ng-template let-masterAssetObj pTemplate="item">
                                    {{lang ==="en" ? masterAssetObj.name:masterAssetObj.nameAr}}
                                </ng-template>
                                <ng-template let-masterAssetObj pTemplate="selectedItem">
                                    {{lang=="en" ?masterAssetObj.name:masterAssetObj.nameAr}}
                                </ng-template>
                            </p-autoComplete>
                        </div>
                        <div class="col-2">
                            <label for="modelNumber"> {{'Asset.Model' | translate }}</label>
                            <input type="text" class="form-control"
                                [(ngModel)]="SearchSortMasterAsset.modelNumber"
                                [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-10"></div>
                        <div class="col-1"> <button class="btn searchIcon" value="save" type="submit">
                                <i class="pi pi-search"></i>
                            </button></div>
                        <div class="col-1"> <button class="btn reset" value="Reset" type="button"
                                (click)="clearSearch()">
                                <i class="pi pi-times-circle"></i>
                            </button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-12">
      
            <p-table #dt2 [value]="lstMasterAssets" id="masterTbl" name="masterTbl" 
                [rowHover]="true" [paginator]="true" [lazy]="true" [rows]="10" [totalRecords]="count" [scrollable]="true"
                (onLazyLoad)="LoadMasterAssets($event)" [customSort]="true" (sortFunction)="LoadMasterAssets($event)">
                <ng-template pTemplate="header">

                    <tr>
                        <th style="text-align: center;" pSortableColumn="Code">{{'Asset.Code' | translate }}
                            <p-sortIcon id="{{ 'Asset.Code' | translate}}" field="Code"/>
                        </th>
                        <th style="text-align: center;" pSortableColumn="Name">{{'Asset.Name' | translate }}
                            <p-sortIcon id="{{ 'Asset.Name' | translate}}" field="Name"/>
                        </th>
                        <th style="text-align: center;" pSortableColumn="Origin">{{'Asset.Origin' | translate}}
                            <p-sortIcon id="{{ 'Asset.Origin' | translate}}"field=Origin />
                        </th>
                        <th style="text-align: center;" pSortableColumn="Brand">{{'Asset.Brand' | translate}}
                            <p-sortIcon id="{{ 'Asset.Brand' | translate}}" field="Brand"/>
                        </th>
                        <th style="text-align: center;" pSortableColumn="ECRI">{{'Asset.ECRI' |translate}}
                            <p-sortIcon id="{{ 'Asset.ECRI' | translate}}" field="ECRI"/>
                        </th>
                        <th style="text-align: center;" pSortableColumn="ModelNumber">{{'Asset.ModelNumber' |translate}}
                            <p-sortIcon id="{{ 'Asset.ModelNumber' | translate}}" field="ModelNumber"/>
                        </th>
                        <th style="text-align: center;">{{ 'Asset.Actions' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td style="text-align: center;"> {{lang=="en"?item.code:(+item.code).toLocaleString("ar-SA")}}</td>
                        <td style="text-align: center;">{{lang =="en" ? item.name:item.nameAr}}</td>
                        <td style="text-align: center;">{{lang =="en" ? item.originName:item.originNameAr}}</td>
                        <td style="text-align: center;">{{lang =="en" ? item.brandName:item.brandNameAr}}</td>
                        <td style="text-align: center;">{{lang =="en" ? item.ecriName:item.ecriNameAr}}</td>
                        <td style="text-align: center;">{{item.model}}</td>
                        <td style="text-align: center;">
                            <span *ngIf="CanView()" class="viewIcon" (click)="viewMasterAsset(item.id)"><i class="pi pi-eye"style="color: green" pTooltip="{{'Asset.showDetails' | translate}}"></i>
                            </span>
                            <span *ngIf="CanEdit()" class="editIcon" (click)="editMasterAsset(item.id)"><i class="pi pi-pen-to-square" style="color: purple" pTooltip="{{'Asset.Edit' | translate}}"></i>
                            </span>
                            <span *ngIf="CanDelete()" class="deleteIcon" (click)="deleteMasterAsset(item)"><i class="pi pi-trash" style="color: red" pTooltip="{{'Asset.Delete' | translate}}"></i>
                            </span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="" *ngIf="lang == 'en'" let-state>
                    {{'Asset.Showing' | translate }} {{(state.page * state.rows) + 1}}
                    {{'Asset.To' | translate }}
                    {{state.rows * (state.page + 1)}} {{'Asset.OF' | translate }}
                    {{count}}
                    {{'Asset.Entries' | translate }}
                </ng-template>
                <ng-template pTemplate="" *ngIf="lang == 'ar'" let-state>
                    {{'Asset.Showing' | translate }} {{((state.page * state.rows) + 1).toLocaleString('ar-EG')}}
                    {{'Asset.To' | translate }}
                    {{(state.rows * (state.page + 1)).toLocaleString('ar-EG')}} {{'Asset.OF' | translate }}
                    {{(count)?.toLocaleString('ar-EG')}}
                    {{'Asset.Entries' | translate }}
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="8" class="text-center">No data available</td>
                    </tr>
                  </ng-template>
            </p-table>
            
            </div>
        </div>
    

</div>

<p-confirmDialog />
<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{ width: '350px' }">
    <p-header style="color: rgb(181, 4, 4)"> {{ 'Asset.Error' | translate }} </p-header>
    <span style="color: rgb(181, 4, 4); font-weight: bold">
        {{ errorMessage }}</span>
</p-dialog>
<p-toast />

<p-dialog appendTo="body" modal="true" [(visible)]="displaySuccessCreate" [style]="{ width: '350px' }">
    <ng-template pTemplate="header">
      <h6 [translate]="''" style="color: #04527e; font-weight: bold; font-size: 16pt">
        {{ "Asset.Save" | translate }}
      </h6>
    </ng-template>
    <span style="color: green; font-weight: bold; font-size: 12pt; text-align: center">
      {{ "Asset.SavedSuccess" | translate }}</span>
  </p-dialog>
  <p-dialog appendTo="body" modal="true" [(visible)]="displaySuccessDelete" [style]="{ width: '350px' }">
    <ng-template pTemplate="header">
      <h6 [translate]="''" style="color: #04527e; font-weight: bold; font-size: 16pt">
        {{ "Asset.Delete" | translate }}
      </h6>
    </ng-template>
    <span style="color: green; font-weight: bold; font-size: 12pt; text-align: center">
      {{ "Asset.DeletedSuccess" | translate }}</span>
  </p-dialog>