<p-toast position="top-right" key="tr" [baseZIndex]="10000"></p-toast>
<div class="container card">
    <div class="card-header cardHeader">
        <h5 class="card-title" style="font-size: 30px;color: #1683c2;font-weight: bold;"
            [translate]="'Asset.AddRequest'">
        </h5>
    </div>
    <div class="card-body">
        <div class="row top-buffer">
            <div class="col-12">
                <label for="code" [translate]="'Asset.Code'">{{'Asset.SRNumber' | translate }}
                </label>
                <input type="text" id="code" class="form-control" name="code" [(ngModel)]="reqObj.requestCode"
                    #code="ngModel" [value]="0" pTooltip="Request Code" tooltipPosition="bottom" disabled />
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-12" style="font-size: 16px;font-weight: bold;color: red;"
                *ngIf="assetBarCodeObj != null || assetBarCodeObj != undefined">
                {{applicationStatus}}
            </div>
        </div>
        <div class="row top-buffer">



            <div class="col-6">
                <label for="barcode" [translate]="'Asset.Barcode'">Barcode</label>
                <p-autoComplete [(ngModel)]="assetBarCodeObj" [ngModelOptions]="{standalone: true}"
                    [suggestions]="lstassetDetailBarcodes" name="barcode" id="barcode" [autoWidth]="true"
                    (completeMethod)="onSelectionChanged($event)" (onSelect)="getBarCode($event)" field="barCode"
                    placeholder="{{'Asset.Barcode' |  translate}}" [dropdown]="false" [showClear]="true"
                    disabled="true">
                    <ng-template let-assetBarCodeObj pTemplate="item">
                        {{assetBarCodeObj.barCode}}
                    </ng-template>
                    <ng-template let-assetBarCodeObj pTemplate="selectedItem">
                        {{assetBarCodeObj.barCode}}
                    </ng-template>
                </p-autoComplete>
            </div>








            <div class="col-6">
                <label for="serial" [translate]="'Asset.Serial'">Serial</label>
                <p-autoComplete [(ngModel)]="assetSerialObj" [ngModelOptions]="{standalone: true}"
                    [suggestions]="lstSerials" name="serial" id="serial" [autoWidth]="true"
                    (completeMethod)="onSerialSelectionChanged($event)" (onSelect)="getSerial($event)" field="name"
                    placeholder="{{'Asset.Serial' |  translate}}" [dropdown]="false" [showClear]="true" disabled>
                    <ng-template let-assetSerialObj pTemplate="item">
                        {{assetSerialObj.serial}}
                    </ng-template>
                    <ng-template let-assetSerialObj pTemplate="selectedItem">
                        {{assetSerialObj.serial}}
                    </ng-template>
                </p-autoComplete>
            </div>
        </div>
        <div class="row top-buffer" *ngIf="isMasterAsset">
            <div class="col-12">
                <label for="MasterAsset" [translate]="'Asset.MasterAsset'">MasterAsset</label>
                <select (change)="ViewAllAssetDetailByMasterId($event)" id="masterAssetId" class="form-control"
                    name="masterAssetId" [(ngModel)]="reqObj.masterAssetId" #masterAssetId="ngModel" [value]="0"
                    pTooltip="Please,Select Master Asset" tooltipPosition="bottom">
                    <option value="0">{{'Asset.Select' | translate}} {{'Asset.MasterAsset' | translate}}
                    </option>
                    <option *ngFor="let master of lstMasterAsset" [value]="master.id"
                        [selected]="master.id == reqObj.masterAssetId">
                        {{lang == "en" ? master.name: master.nameAr}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row top-buffer" *ngIf="assetBarCodeObj != null || assetBarCodeObj != undefined">
            <div class="col-4">
                <label for="" class="labeldetails"> {{ 'Asset.Building' | translate }}
                </label>
                {{ lang=='en' ? assetBarCodeObj.buildName : assetBarCodeObj.buildNameAr}}
            </div>
            <div class="col-4">
                <label for="" class="labeldetails"> {{ 'Asset.Floor' | translate }} </label>
                {{ lang=='en' ? assetBarCodeObj.floorName : assetBarCodeObj.floorNameAr}}
            </div>
            <div class="col-4">
                <label for="" class="labeldetails"> {{ 'Asset.Room' | translate }} </label>
                {{ lang=='en' ? assetBarCodeObj.roomName : assetBarCodeObj.roomNameAr}}
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-12">
                <label for="subject" [translate]="'Asset.Subject'"> {{'Asset.Subject' | translate}}</label>
                <input id="name" name="requestName" [(ngModel)]="reqObj.subject" class="form-control" required
                    placeholder="{{'Asset.Subject' | translate}}" pInputText [ngModelOptions]="{standalone: true}"
                    [disabled]="isDisabled">

            </div>
        </div>
        <div class="row top-buffer">

            <div [ngClass]="isMode == false ? 'col-12': 'col-6'">
                <label for="periority" [translate]="'Asset.Periority'"></label>
                <br />
                <mat-radio-group [(ngModel)]="radioPerioritySelected" (change)="getSelecteditem()"
                    [ngModelOptions]="{standalone: true}" [disabled]="isDisabled">
                    <mat-radio-button [value]="item.id" name="periority{{i}}"
                        pTooltip="{{'Asset.Periority' | translate}}" *ngFor="let item of lstPeriorities;let i = index">
                        <i [ngClass]="item.icon" [ngStyle]="{'color': item.color}"></i>
                        {{lang == "en" ? item.name:item.nameAr}}
                    </mat-radio-button>
                </mat-radio-group>

            </div>


        </div>
        <div class="row top-buffer">
            <div class="col-6">
                <label for="problem" [translate]="'Asset.Problem'"></label>
                <select type="text" id="Problem" class="form-control" name="Problem"
                    (change)="GetAllSubProblemsByProblemId($event)" [(ngModel)]="reqObj.problemId" #Category="ngModel"
                    [value]="0" pTooltip="{{'Asset.Problem' | translate}}" tooltipPosition="bottom"
                    [disabled]="isDisabled">
                    <option value="0">{{'Asset.Select' | translate}} {{'Asset.Problem' |
                        translate}}
                    </option>
                    <option *ngFor="let item of lstProblems" [value]="item.id">
                        {{lang == "en" ? item.name:item.nameAr}}
                    </option>
                </select>
            </div>
            <div class="col-6">
                <label for="subProblem" [translate]="'Asset.SubProblem'"></label>
                <select type="text" id="subProblem" class="form-control" name="SubProblem"
                    [(ngModel)]="reqObj.subProblemId" #SubCategory="ngModel" [value]="0"
                    pTooltip="{{'Asset.SubProblem' | translate}}" tooltipPosition="bottom" [disabled]="isDisabled">
                    <option value="0">{{'Asset.Select' | translate}} {{'Asset.SubProblem' | translate}}
                    </option>
                    <option *ngFor="let item of lstSubProblems" [value]="item.id">
                        {{lang == "en" ? item.name:item.nameAr}}
                    </option>
                </select>
            </div>


        </div>
        <div class="row top-buffer">
            <div class="col-6">
                <label for="type" [translate]="'Asset.Type'"></label>
                <select type="text" id="Type" class="form-control" name="Type" [(ngModel)]="reqObj.requestTypeId"
                    #Type="ngModel" [value]="0" pTooltip="{{'Asset.Type' | translate}}" tooltipPosition="bottom"
                    [disabled]="isDisabled">
                    <option value="0">{{'Asset.Select' | translate}}{{'Asset.Type' | translate}}</option>
                    <option *ngFor="let item of lstRequestTypes" [value]="item.id">
                        {{lang == "en" ? item.name:item.nameAr}}
                    </option>
                </select>
            </div>
            <div class="col-6" *ngIf="isMode">
                <label for="mode" [translate]="'Asset.Mode'"></label>
                <select type="text" id="Mode" class="form-control" name="Mode" [(ngModel)]="reqObj.requestModeId"
                    #Mode="ngModel" [value]="0" tooltipPosition="bottom" [disabled]="isDisabled">
                    <option value="0">{{'Asset.Select' | translate}} {{'Asset.Mode' | translate}}</option>
                    <option *ngFor="let item of lstRequestMode" [value]="item.id">
                        {{lang== 'en' ?item.name:item.nameAr}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-4" hidden>
            <label for="requestDate" [translate]="'Asset.Date'"> </label>
            <p-calendar [(ngModel)]="reqObj.requestDate" [ngModelOptions]="{standalone: true}" dateFormat="dd/mm/yy"
                [yearNavigator]="true" yearRange="1900:2030" [monthNavigator]="true" [disabled]="isDisabled">
            </p-calendar>
        </div>
        <div class="row top-buffer">
            <div class="p-field col-md-12">
                <label for="description" [translate]="'Asset.Description'">Description</label>
                <textarea class="form-control" id="description" pTooltip="{{'Asset.Description' | translate}}"
                    [(ngModel)]="reqObj.description" pInputTextarea name="description"
                    [ngModelOptions]="{standalone: true}" [disabled]="isDisabled"></textarea>
            </div>

        </div>
        <div class="row top-buffer">
            <div class="col-10">
                <label for="docmentName"> {{'Asset.DocumentName' | translate }}</label>
                <input #documentName="ngModel" class="form-control" type="text" pInputText
                    placeholder="{{'Asset.DocumentTitle' | translate }}"
                    [(ngModel)]="createRequestDocument.documentName">
            </div>
            <div class="col-2">
                <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)"
                    style="display:none;">
                <button type="button" class="btn btn-outline-success" style="margin-top: 20px;margin-left: 10px;"
                    (click)="file.click()"> <i class="fa fa-upload"
                        style="color: #61bb20; cursor: pointer;margin: 0px 5px;"></i>{{'Asset.SelectDocumentTitle' |
                    translate }}
                </button>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{'Asset.Name' | translate }}</th>
                            <th>{{'Asset.DocumentTitle' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of lstCreateRequestDocument">
                            <td>{{i.fileName}}</td>
                            <td>{{i.documentName}}</td>
                            <td>
                                <span (click)="removeFileFromObjectArray(i)"><i class="fa-solid fa-times-circle"
                                        style="color: rgb(123, 9, 9);"></i></span>
                            </td>
                        </tr>
                        <tr *ngIf="lstCreateRequestDocument.length == 0">
                            <td colspan="3" style="color: rgb(102, 97, 23);" [translate]="'Asset.NoData'">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12">
                <button mat-stroked-button class="ml-2" (click)="AddRequest()" color="primary" mat-button>{{'Asset.Save'
                    | translate }}</button>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-12" *ngIf="lstRequests.length > 0">
                <p-table [value]="lstRequests" name="requestTbl"
                    styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines" responsiveLayout="scroll"
                    [paginator]="true" [lazy]="true" [rows]="10" [totalRecords]="count" pageLinks="10"
                    (onLazyLoad)="clicktbl($event)" [loading]="loading">

                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 15%;">Time</th>
                            <th style="text-align: inherit;" [sortable]="true">{{'Asset.Code' |
                                translate }}
                                <p-sortIcon id="{{ 'Asset.Code' | translate }}" (click)="sort($event)">
                                </p-sortIcon>
                            </th>

                            <th style="text-align: inherit;" [sortable]="true"> {{'Asset.Subject' | translate }}
                                <p-sortIcon id="{{'Asset.Subject' | translate }}" (click)="sort($event)">
                                </p-sortIcon>
                            </th>
                            <th style="text-align: inherit;" [sortable]="true"> {{'Asset.Date' | translate }}
                                <p-sortIcon id="{{'Asset.Date' | translate }}" (click)="sort($event)">
                                </p-sortIcon>
                            </th>
                            <th style="text-align: inherit;" [sortable]="true"> {{'Asset.Status' |
                                translate }}
                                <p-sortIcon id="{{'Asset.Status' | translate }}" (click)="sort($event)">
                                </p-sortIcon>
                            </th>
                            <th style="text-align: inherit;" [sortable]="true"> {{'Asset.Periority' |
                                translate }}
                                <p-sortIcon id="{{'Asset.Periority' | translate }}" (click)="sort($event)">
                                </p-sortIcon>
                            </th>
                            <th style="text-align: inherit;" [sortable]="true"> {{'Asset.Mode' |
                                translate }}
                                <p-sortIcon id="{{'Asset.Mode' | translate }}" (click)="sort($event)">
                                </p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>
                                {{item.elapsedTime}}
                            </td>
                            <td style="text-align: inherit;">{{item.code}}</td>
                            <td style="text-align: inherit;">{{item.subject}}</td>
                            <td style="text-align: inherit;">{{item.requestDate | date:'dd-MM-yyyy HH:mm'}}</td>
                            <td style="text-align: inherit;">
                                <span [ngStyle]="{'color':item.statusColor}">
                                    <span><i [ngClass]="item.statusIcon"></i></span>
                                    {{lang=="en" ? item.statusName:item.statusNameAr}}
                                </span>
                            </td>
                            <td style="text-align: inherit;">

                                <i [ngClass]="item.periorityIcon" [ngStyle]="{'color': item.periorityColor}"></i>
                                {{lang=="en" ? item.periorityName: item.periorityNameAr}}
                            </td>
                            <td style="text-align: inherit;">{{lang=="en" ? item.modeName: item.modeNameAr}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

</div>

<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{width: '350px'}">
    <p-header style="color: rgb(181, 4, 4);"> {{ 'Asset.Error' | translate }} </p-header>
    <span style="color: rgb(181, 4, 4);font-weight: bold;"> {{errorMessage}}</span>
</p-dialog>

<p-dialog appendTo="body" modal="true" [(visible)]="dateError">
    <ng-template pTemplate="header">
        <h4 style="color: red;">{{ 'Asset.DateError' | translate }}</h4>
    </ng-template>
    <span style="color: red;">
        {{error.errorMessage}}
    </span>
</p-dialog>



<p-dialog appendTo="body" modal="true" [(visible)]="display" [style]="{width: '350px'}">
    <ng-template pTemplate="header">
        <h6 [translate]="''" style="color: #04527e;font-weight: bold;font-size: 16pt;">{{ 'Asset.Save' | translate }}
        </h6>
    </ng-template>
    <span style="color: green;font-weight: bold;font-size: 12pt;text-align: center;"> {{ 'Asset.SavedSuccess' |
        translate }}</span>

    <br />
    <br />
    <button class="btn btn-primary pull-center btn-md"
        style="margin: 0px 5px;background-color: #fe7f83 !important;border-color:#fe7f83" (click)="closeDialogue()"> {{
        'Asset.Close' | translate }}</button>
</p-dialog>